@using GPNA.AlarmControlSystem.Shared.ButtonsModal
@using GPNA.AlarmControlSystem.Models.Dto.Tag

<div class="modal-backdrop show"></div>

<div class="tag-table__modal-bg delete">
	<CloseButton ClickEvent="Cancel"/>
	<p class="tag-table__modal-title">ОКНО УДАЛЕНИЯ ПАРАМЕТРА</p>
			
	<p class="modal-delete-text">Вы уверены, что хотите удалить параметр @TagName?</p>
	<p class="modal-delete-text">(В случае активности будет отображаться как новый)</p>				
	<div class="tag-table__modal-button-container">
		<DeleteButton ClickEvent="DeleteAndClose"/>
		<CancelButton TypeModal="delete" ClickEvent="Cancel"/>
	</div>
</div>

@code {
	[CascadingParameter] BlazoredModalInstance ModalInstance { get; set; } = default!;
	[Parameter] public string? TagName { get; set; }
	
	private async void DeleteAndClose() 
	{
		await ModalInstance.CloseAsync(ModalResult.Ok());
	}

	void Cancel()
	{
		ModalInstance.CancelAsync();
	}
}
