@using GPNA.AlarmControlSystem.Shared.ButtonsModal
@using GPNA.AlarmControlSystem.Models.Dto.Tag


@if (displaySendTagsToJournalModal)
{
	<div class="modal-backdrop show"></div>

	<div class="tag-table__modal-bg send-tag-journal">
		<div class="d-flex align-items-center gap-3">
			<svg style="width: 15px; height: 14px; margin-bottom: 3px;">
				<use href="/img/icons/icons.svg#tag-modal-attention"></use>
			</svg>
			<p class="tag-table__modal-title">ОТПРАВИТЬ ЗАДАЧИ В ЖУРНАЛ ИЗМЕНЕНИЙ АСУ ТП?</p>
		</div>

		<div class="w-100 h-100 p-0 d-flex flex-column gap-2 justify-content-between">
			<p class="modal-delete-text mt-2">Выдать задания на изменение конфигурации АСУ ТП<br /> (Отправить в журнал изменений АСУ ТП)?</p>

			<div class="tag-table__modal-item-container">
				<p>Специалист АСУ ТП</p>
				<div class="small tag-table__modal-custom-select">
					<select class="tag-table__modal-item-select" onchange="this.style.color='#002033'">
						<option disabled selected hidden>Выберите специалиста АСУ ТП</option>
						<option>Специалист АСУ ТП 1</option>
						<option>Специалист АСУ ТП 2</option>
						<option>Специалист АСУ ТП 3</option>
					</select>
				</div>
			</div>
			<div class="tag-table__modal-item-container">
				<p>Комментарий<sup>*</sup></p>
				<textarea class="tag-table__modal-item-textarea" type="text" placeholder="Введите комментарий"></textarea>
				<p class="item-container__text-ps"><sup>*</sup>Комментарий будет добавлен ко всем выбранным задачам</p>
			</div>
			

			<div class="tag-table__modal-button-container">
				<SendButton />
				<NotSendButton ClickEvent="Cancel" />
			</div>
		</div>

	</div>
}


@code {
	[CascadingParameter] BlazoredModalInstance ModalInstance { get; set; } = default!;	

	bool displaySendTagsToJournalModal = false;

	void Cancel()
	{
		ModalInstance.CancelAsync();
	}


}

