p {
    color: rgba(0, 32, 51, 0.8);
}

.tag-table-line {
    height: 40px;
    align-items: center;
    font-weight: 400;
    font-size: 12px;
    cursor: pointer;
}

    .tag-table-line:first-child {
        height: 50px;
    }

    .tag-table-line:first-child td {
        padding-top: 10px;
    }

    .tag-table-line td:first-child, .tag-table-archive-line td:first-child {
        padding-left: 14px;
        padding-right: 10px;
    }

        .tag-table-line td:nth-child(3), .tag-table-line td:nth-child(4), .tag-table-line td:last-child {
            text-align: center;
        }


    .tag-table-line:not(:has(+ .tag-table-archive-line)) {
        border-bottom: 0.5px solid rgba(0, 32, 51, 0.15);
    }

    .bg-tag-table .indicator-container {
        justify-content: end;
    }

    .tag-table-line:hover {
        background: rgba(204, 217, 224, 0.15);
    }   

.tag-table-indicator {
    width: 9px;
    height: 9px;
    border: 1px solid #B0C1CB;
    border-radius: 50%;    
}

    .tag-table-indicator.NewTag {
        background: rgba(186, 143, 219, 1);
        border-color: rgba(186, 143, 219, 1);
    }

    .tag-table-indicator.Valid {
        background: transparent;
        border-color: #B0C1CB;
    }

    .tag-table-indicator.NoneCheck {
        background: #F2C94C;
        border-color: #F2C94C;
    }

    .tag-table-indicator.NotValid {
        background: #EB5757;
        border-color: #EB5757;
    }

.tag-table-button-modal {
    border: none;
    outline: none;
    width: 26px;
    height: 26px;
    background: #F0F2F3;
    border-radius: 4px;
}

    .tag-table-button-modal:hover {
        background: #EAEAEA;
    }

.tag-table-button-modal svg {
    width: 14px;
    height: 14px;
}

.tag-table-icon-reglament {
    width: 17px;
    height: 15px;   
    color: #A8B3B9;
}
    .tag-table-icon-reglament.red {
        color: #EB5757;
    }

.tag-table-archive-title {
    text-align: center;
    text-transform: uppercase;
}
    .tag-table-archive-title p {
        font-weight: 400;
        font-size: 12px;
        color: #002033;
    }

.tag-table-archive-line {
    font-weight: 400;
    font-size: 12px;
}
    .tag-table-archive-line.head {
        height: 40px;
    }

        .tag-table-archive-line.head p {
            color: #002033;
        }

        .tag-table-archive-line.head td:not(.td:first-child) {
            padding: 0 10px;
        }