@page "/tag-table"

@using GPNA.AlarmControlSystem.Pages.TagTable.Components
@using GPNA.AlarmControlSystem.Pages.Monitoring.Components
@using GPNA.AlarmControlSystem.Shared.Pagination
@using GPNA.AlarmControlSystem.Models.Dto.Tag

<div class="page-main">
    <div class="page-header justify-content-center position-relative">
        <div class="d-flex">
            <p>ТАБЛИЦА ПЕРЕМЕННЫХ <b>@_fieldName М/Р</b></p>
            <SelectObject Object="dto" LinksDictionary="_fieldLinksDictionary" />
            <p style="margin-left:15px;">
                <b>@_workstationName</b>
            </p>
            <SelectObject LinksDictionary="_workstationLinksDictionary" />
        </div>        
        <div class="d-flex gap-2 position-absolute" style="right: 0;">
            @if (_query!= new GetTagsListQuery(){Page = 1})
            {
                <TitleBarButton Title="Фильтрация" FunctionButton="filtration" Action="DropFilters"/>
            }
            <TitleBarButton Title="Экспорт" FunctionButton="export" />
        </div> 
    </div>
    
    <div class="priority-alarm-container">
        <TagStatusOnHead Title="Нет оценки последствий" Title1="KPI" NumberLinesTitle="one-line" WidthLarge="true"></TagStatusOnHead>
        <TagStatusOnHead Title="Некорректное описание" />                                
        <TagStatusOnHead Title="Некорректный приоритет" />
        <TagStatusOnHead Title="Некорректная уставка" />
        <TagStatusOnHead Title="Непроверенные" StatusTags="unverified" NumberLinesTitle="one-line" />
        <TagStatusOnHead Title="Новые"  StatusTags="new" NumberLinesTitle="one-line" />
    </div>                            
    
    <div class="tag-table-search-container">
        @* <p class="tagname-filter-title">TagName</p> *@
        <InputSearch OnChange="SearchTag" MinWidth="382"/>
        
        @* <p class="tagname-filter-title">Описание</p> *@
        @* <InputSearch OnChange="SearchDesc" MinWidth="382"/> *@

        <button class="tag-table-button-add" @onclick="AddTag">
            <p>Новый Таг</p>
            <svg>
                <use href="/img/icons/icons.svg#tag-table-add"></use>
            </svg>
        </button>
        
    </div>
    
    <TagsTable Tags="_tags" 
               OnStateFilterChanged="SetStateFilter" 
               OnPriorityFilterChanged="SetPriorityFilter" 
               OnOrderingChanged="OnOrderingChanged"
               OnTagDeleted="GetTags"/>
    
    <Pagination CurrentPage="@(_query.Page ?? 1)" PagesCount="_pagesCount" OnPageClick="OnPageChanged"/>
</div>
    