@page "/tagtable"
@using GPNA.AlarmControlSystem.Pages.TagTable.Components
@using GPNA.AlarmControlSystem.Pages.TagTable.Components.Modals

<h3>Таблица переменных</h3>
<div class="actions">
    <input type="text" id="myInput" @onkeypress="@Enter" @bind-value="input" placeholder="Поиск по TagName">
    <button class="actions-add-tag btn-primary" @onclick="AddTag">Добавить Tag</button>
    <button class="actions-add-tag btn-primary" @onclick="OpenAddTagModal">Добавить Tag</button>
</div>


@if (AlarmsTagTable == null)
{
    @*<Loader/>*@
}
else
{
    <div class="table-responsive" style="margin-top:10px;height:780px;overflow-y:scroll;border-top: 0.5px solid rgba(0, 65, 102, 0.2);border-bottom: 0.5px solid rgba(0, 65, 102, 0.2);">
        <table class="table table-bordered">
            <thead class="thead-light">
                <tr>                    
                    <th colspan=2>TagName</th>
                    <th colspan=6>Описание</th>            
                    <th>Приоритет</th>
                    <th>Уставка</th>         
                    <th style="z-index: 1;"></th> 
                </tr>
            </thead>
            <tbody>
                @*<Virtualize Items="AlarmsTagTable">
                    <ItemContent>
                        <TagOnTable @key="context.Id" Tag="@context" EditTag="@EditTag" DeleteTag="@DeleteTag"/>                        
                    </ItemContent>
                    <Placeholder>
                        <Loader/>
                    </Placeholder>
                </Virtualize>*@
               @*<AddTagComponent @ref="addTagModal" OnCancel="OnCancel" OnSave="OnSave"></AddTagComponent>*@
            </tbody>
        </table>
    </div>   
}

@code {
    AddTagComponent? addTagModal;

    void OpenAddTagModal()
    {
        addTagModal.Show();
    }

    void OnSave()
    {
        addTagModal.Hide();
    }
    void OnCancel()
    {
        addTagModal.Hide();
    }
}
