<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <!--To inherit the global NuGet package sources remove the <clear/> line below -->
    <clear />
    <add key="nuget" value="https://api.nuget.org/v3/index.json" />
    <add key="space" value="https://nuget.pkg.jetbrains.space/gpna/p/gpna-common/gpna-common/v3/index.json" />
  </packageSources>

  <packageSourceMapping>
    <!-- key value for <packageSource> should match key values from <packageSources> element -->
    <packageSource key="space">
      <package pattern="GPNA.*" />
    </packageSource>
    <packageSource key="nuget.org">
      <package pattern="LiteDB" />
      <package pattern="*" />
      <package pattern="Microsoft.*" />
      <package pattern="Microsoft.AspNetCore.Mvc.NewtonsoftJson" />
      <package pattern="NLog.WindowsEventLog" />
    </packageSource>
  </packageSourceMapping>
</configuration>
