@page "/tasks/{taskId:int}"
@inherits AcsPageBase
@using GPNA.AlarmControlSystem.Models.Dto.TagTask
@using GPNA.AlarmControlSystem.Pages.Tasks.Modals
@using GPNA.AlarmControlSystem.Interfaces

<div class="page-main">
    <div class="page-header ">       
        <a href="/tasks" class="bg-navigation">
            <svg>
                <use href="/img/icons/icons.svg#arrow-left"></use>
            </svg>
            <span>К списку задач</span>
        </a>
        
        <p>ЗАДАЧА <b># @TagTask?.Number</b></p>
            
        <div class="d-flex gap-2">
            @*@if (FiltersOn)
            {
                <TitleBarButton Title="Фильтрация" FunctionButton="filtration" Action="DropFilters" />
            }
            <TitleBarButton Title="Экспорт" FunctionButton="export" Action="DownloadFileFromStream" />
        *@</div>

    </div>
    <div class="d-flex flex-column overflow-auto gap-2">
        <div class="mesage-container w-100">
            <div class=" mesage-container flex-column">
                <div class="bg-message message-correspondents">
                    <p>Кому:</p>
                    <div>
                        <div class="recipient-selector d-flex justify-content-between pb-2">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" id="checkTradeTechnologist"/>
                                <label class="form-check-label" for="checkTradeTechnologist">
                                    Технолог (промысел)
                                </label>
                            </div>
                            <div class="recipient-name w-50 border p-1">
                                <p>Смирнов Алексей Иванович</p>
                            </div>
                        </div>
                        <div class="recipient-selector d-flex justify-content-between pb-2">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" id="checkOfficeTechnologist"/>
                                <label class="form-check-label" for="checkOfficeTechnologist">
                                    Технолог (офис)
                                </label>
                            </div>
                            <div class="recipient-name w-50 border p-1">
                                <p>Смирнов Алексей Иванович</p>
                            </div>
                        </div>
                        <div class="recipient-selector d-flex justify-content-between pb-2">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" id="checkTradeEngineer"/>
                                <label class="form-check-label" for="checkTradeEngineer">
                                    Инженер АСУТП (промысел)
                                </label>
                            </div>
                            <div class="recipient-name w-50 border p-1">
                                <p>Смирнов Алексей Иванович</p>
                            </div>
                        </div>
                        <div class="recipient-selector d-flex justify-content-between pb-2">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" id="checkOfficeEngineer"/>
                                <label class="form-check-label" for="checkOfficeEngineer">
                                    Инженер АСУТП (офис)
                                </label>
                            </div>
                            <div class="recipient-name w-50 border p-1">
                                <p>Смирнов Алексей Иванович</p>
                            </div>
                        </div>
                        <div class="recipient-selector d-flex justify-content-between pb-2">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" id="checkShiftSupervisor"/>
                                <label class="form-check-label" for="checkShiftSupervisor">
                                    Начальник смены
                                </label>
                            </div>
                            <div class="recipient-name w-50 border p-1">
                                <p>Смирнов Алексей Иванович</p>
                            </div>
                        </div>
                        <div class="recipient-selector d-flex justify-content-between pb-2">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" id="checkWorkstationSupervisor"/>
                                <label class="form-check-label" for="checkWorkstationSupervisor">
                                    Начальник цеха
                                </label>
                            </div>
                            <div class="recipient-name w-50 border p-1">
                                <p>Смирнов Алексей Иванович</p>
                            </div>
                        </div>
                    </div>                     
                </div>
                <div class="bg-message message-body">
                    <p> Тело письма:</p>
                    <textarea type="text" placeholder="Текст письма"></textarea>
                    <div class="d-flex align-self-end gap-2 w-100 justify-content-end">
                        @if (TagTask is {Archived: false })
                        {
                            <button class="me-auto" @onclick="ArchiveTask">
                                <svg>
                                    <use href="/img/icons/icons.svg#archive"></use>
                                </svg>
                                <span>В архив</span>
                            </button>
                        }
                        <button @onclick="Cancel">
                            <svg>
                                <use href="/img/icons/icons.svg#task-message-cancel"></use>
                            </svg>
                            <span>Отменить</span>
                        </button>
                        <button>
                            <svg>
                                <use href="/img/icons/icons.svg#task-message-send"></use>
                            </svg>
                            <span>Разослать</span>
                        </button>
                    </div>
                </div>
            </div>
            <div class="bg-message message-story">
                <p>История</p>
                <div class="message-story-container">                    
                    <div class="message-story-item">
                        <div class="d-flex gap-2 align-items-center">
                            <p>Технолог</p>
                            <svg>
                                <use href="/img/icons/icons.svg#task-message-arrow-right"></use>
                            </svg>
                            <p>Инженер</p>
                        </div>
                        <p>Текст сообщения Текст сообщения Текст сообщения Текст сообщения Текст сообщения Текст сообщения Текст сообщения Текст сообщения</p>
                        <p class="message-story-item-date">04.06.2023 14:15</p>
                    </div>

                    <div class="message-story-item">
                        <div class="d-flex gap-2 align-items-center">
                            <p>Технолог</p>
                            <svg>
                                <use href="/img/icons/icons.svg#task-message-arrow-right"></use>
                            </svg>
                            <p>Инженер</p>
                        </div>
                        <p>Текст сообщения Текст сообщения Текст сообщения Текст сообщения Текст сообщения</p>
                        <p class="message-story-item-date">04.06.2023 14:15</p>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
</div>





@code {
    [Inject]
    ITagTaskService? TagTaskService { get; set; }
    
    [Parameter]
    public int TaskId { get; set; }

    [CascadingParameter]
    public IModalService? Modal { get; set; }

    public TagTaskDto? TagTask { get; set; }

    protected override async Task LoadPage()
    {
        await GetTagTask();
    }

    private async Task ArchiveTask()
    {
        if (TagTask is {Archived: false } && Modal != default)
        {
            var parameters = new ModalParameters { { "TaskNumber", TagTask.Number.ToString() } };
            var modal = Modal.Show<ArchiveTaskModal>("", parameters);
            var modalResult = await modal.Result;
            if (modalResult.Confirmed)
            {
                var result = await TagTaskService?.UpdateTagTask(new UpdateTagTaskCommand { Id = TagTask.Id, Archived = true })!;

                if (result.Success)
                {
                    Cancel();
                }
            }
        }
    }

    private async Task GetTagTask()
    {
        if (TagTaskService == default) return;
        
        var result = await TagTaskService.GetTagTasksCollection(new GetTagTasksListQuery { Id = TaskId });

        if (result.Success && result.Payload.Items.Any())
        {
            TagTask = result.Payload.Items.First();
        }
    }

    private void Cancel()
    {
        NavigationManager?.NavigateTo("/tasks");
    }
}
