@page "/tag-table-archive"

@using GPNA.AlarmControlSystem.Pages.TagTable.Archive.Components
@using GPNA.AlarmControlSystem.Pages.Monitoring.Components
@using GPNA.AlarmControlSystem.Shared.Pagination

<div class="page-main">
    <div class="page-header justify-content-center position-relative">
        <div class="d-flex">
            <p>АРХИВ ИЗМЕНЕНИЙ АСУ ТП <b>@_fieldName М/Р</b></p>
            <SelectObject Object="dto" LinksDictionary="_fieldLinksDictionary"/>
            <p style="margin-left:15px;">
                <b>@_workstationName</b>
            </p>
            <SelectObject LinksDictionary="_workstationLinksDictionary"/>
        </div>
        <div class="d-flex gap-2 position-absolute" style="right: 0;">
            @if (_query is not {Page: 1})
            {
                <TitleBarButton Title="Фильтрация" FunctionButton="filtration" Action="DropFilters"/>
            }
            <TitleBarButton Title="Экспорт" FunctionButton="export" Action="DownloadFileFromStream"/>
        </div>
    </div>    

    <div class="tag-table-search-container">
        <InputSearch OnChange="SearchTag" MinWidth="382"/>
        <div class="d-flex gap-2">
            <a class="tag-table-button-link" href="@($"/tag-table-journal/?fieldId={FieldId}&workstationId={WorkstationId}")">Журнал изменений АСУ ТП</a>
            <a class="tag-table-button-link" href="@($"/tag-table/?fieldId={FieldId}&workstationId={WorkstationId}")">Таблица переменных</a>
        </div>
    </div>

    <TagsTableArchive Tags="_tags.Items?.ToList()"
               OnStateFilterChanged="SetStateFilter"
               OnPriorityFilterChanged="SetPriorityFilter"
               OnOrderingChanged="OnOrderingChanged"
               OnTagDeleted="GetTags"/>

    <Pagination CurrentPage="@(_query.Page ?? 1)" PagesCount="_tags.PagesCount" OnPageClick="OnPageChanged"/>
</div>