@page "/"
@using GPNA.AlarmControlSystem.Services
@using GPNA.AlarmControlSystem.Interfaces
@using GPNA.AlarmControlSystem.Models.Dto.BufferAlarms
@using GPNA.AlarmControlSystem.Models.Dto.IncomingAlarm
@using GPNA.AlarmControlSystem.Models.Enums
@using GPNA.AlarmControlSystem.Pages.Main.Tables
@using GPNA.AlarmControlSystem.Pages.Main.Charts
@using GPNA.AlarmControlSystem.Pages.Main.Components
@using GPNA.AlarmControlSystem.Pages.Main.Components.WorkStationView
@inject IJSRuntime JSRuntime


<div class="page-main">
    <div class="page-title">
        <ButtonNavigation Title="Меретояхинское" />
        <p>ЖУРНАЛ СИГНАЛИЗАЦИЙ ЗА @DateTime.Now.ToString("dd MMMM") МЕРЕТОЯХА <b>ТАЗОВСКОЕ</b></p>
        <SelectDto/>   
        <ButtonNavigation Title="Северо-Самбурское" Navigation="right"/>
    </div>
    <WorkStationView Title="УПНГ" />
</div>

@code {

    [Parameter] public DateTime DateTime { get; set; }
}