@using GPNA.AlarmControlSystem.Models.Dto.IncomingAlarm
@using GPNA.AlarmControlSystem.Models.Enums
@using GPNA.AlarmControlSystem.Pages.Monitoring.Components
@*@using GPNA.AlarmControlSystem.Pages.Monitoring.Alarms*@

<table class="bg-tag-table ">
    <thead>
    <tr>
        <th class="bg-tag-table-button" style="min-width: 48px;">
            <div class="indicator-container">
                <div class="tag-table-indicator new"></div>                
                <button>
                    <svg>
                        <use href="/img/icons/icons.svg#sorting"></use>
                    </svg>
                </button>
            </div>
        </th>        
        <th style="min-width: 230px;">
            <p>TagName</p>  
        </th>        
        <th style="min-width: 990px;">
            <p>Описание</p>
        </th>
        <th class="bg-tag-table-button" style="min-width: 165px;">
            <div>
                <p>Приоритет</p>
                <div>
                    <button data-bs-toggle="modal" data-bs-target="#priorityFilterModal">
                        <svg>
                            <use href="/img/icons/icons.svg#filter"></use>
                        </svg>
                    </button>                    
                </div>
            </div>
        </th>
        <th style="min-width: 106px;">
            <p>Уставка</p>
        </th>
        <th class="bg-tag-table-button" style="min-width: 130px;">
            <div>
                <p>Регламент</p>
                <div>
                    <button data-bs-toggle="modal" data-bs-target="#priorityFilterModal">
                        <svg>
                            <use href="/img/icons/icons.svg#filter"></use>
                        </svg>
                    </button>                    
                </div>
            </div>
        </th>
        <th style="min-width: 100px;">
            <p>Действия</p>
        </th>
    </tr>
    </thead>
    <tbody>
        <TagsTableLine AttentionPriority="true"></TagsTableLine>
        <TagsTableLine AttentionPriority="true"></TagsTableLine>
        <TagsTableLine AttentionPriority="true"></TagsTableLine>
        <TagsTableLine AttentionPriority="true"></TagsTableLine>
        <TagsTableLine TagStatus="unverified" AttentionDescription="true" ReglamentColor="red"></TagsTableLine>
        <TagsTableLine TagStatus="new"></TagsTableLine>
        <TagsTableLine TagStatus="incorrect" AttentionSetting="true"></TagsTableLine> 
    </tbody>
</table>

@code {

    [Parameter]
    public string? ButtonArrow { get; set; } = "arrow-down";

    [Parameter] public string? TagTableStatus { get; set; } = "new";
    [Parameter] public string? Border { get; set; }

    [Parameter]
    public IncomingAlarmDto[][]? Alarms { get; set; }

    [CascadingParameter(Name = nameof(StateFilter))]
    public StateType? StateFilter { get; set; }

    [CascadingParameter(Name = nameof(PriorityFilter))]
    public PriorityType? PriorityFilter { get; set; }

    [Parameter]
    public EventCallback<StateType?> OnStateFilterChanged { get; set; }

    [Parameter]
    public EventCallback<PriorityType?> OnPriorityFilterChanged { get; set; }

    [Parameter]
    public EventCallback<string> OnOrderingChanged { get; set; }

    private async Task SetStateFilter(StateType? state)
    {
        await OnStateFilterChanged.InvokeAsync(state);
    }

}