.tag-table-line {
    height: 40px;
    align-items: center;
    font-weight: 400;
    font-size: 12px;
}

    .tag-table-line:first-child {
        height: 50px;
    }

    .tag-table-line:first-child td {
        padding-top: 10px;
    }
   
    .tag-table-line td {
        padding: 0 10px;
    }
        .tag-table-line td:first-child {
            padding-left: 14px;
        }

    .tag-table-line td:nth-child(5), .tag-table-line td:nth-child(7), .tag-table-line td:last-child {
        text-align: center;
    }

    .tag-table-line:not(:has(+ .tag-table-info)) {
        border-bottom: 0.5px solid rgba(0, 32, 51, 0.15);
    }

    .bg-tag-table .indicator-container {
        justify-content: end;
    }

    .tag-table-line:hover {
        background: rgba(204, 217, 224, 0.15);
    }

    .tag-table-line.incorrect {
        background: rgba(235, 87, 87, 0.1);
    }

        .tag-table-line.incorrect:hover {
            background: linear-gradient(0deg, rgba(235, 87, 87, 0.15), rgba(235, 87, 87, 0.15)), #FFFFFF;
        }

    .tag-table-line.unverified {
        background: rgba(242, 201, 76, 0.2);
    }

        .tag-table-line.unverified:hover {
            background: linear-gradient(0deg, rgba(242, 201, 76, 0.25), rgba(242, 201, 76, 0.25)), #FFFFFF;
        }

    .tag-table-line.new {
        background: rgba(186, 143, 219, 0.2);
    }

        .tag-table-line.new:hover {
            background: linear-gradient(0deg, rgba(186, 143, 219, 0.25), rgba(186, 143, 219, 0.25)), #FFFFFF;
        } 

.tag-table-indicator {
    width: 9px;
    height: 9px;
    border: 1px solid #B0C1CB;
    border-radius: 50%;
    background: #FFFFFF;
}

    .tag-table-indicator.new {
        background: #B0C1CB;
        border-color: #B0C1CB;
    }

    .tag-table-indicator.norma {
        background: #FFFFFF;
        border-color: #B0C1CB;
    }

    .tag-table-indicator.unverified {
        background: #F2C94C;
        border-color: #F2C94C;
    }

    .tag-table-indicator.incorrect {
        background: #EB5757;
        border-color: #EB5757;
    }

.tag-table-container-attention {
    position: absolute;
    top: -1px;
    left: 15px;
}

    .tag-table-container-attention.priority {
        top: 2px;
        left: 13px;
    }

.tag-table-icon-attention {
    width: 10px;
    height: 10px;
}
    .tag-table-icon-attention.none {
        display: none;
    }

.tag-table-button-modal {
    border: none;
    outline: none;
    width: 26px;
    height: 26px;
    background: #F0F2F3;
    border-radius: 4px;
}

    .tag-table-button-modal:hover {
        background: #EAEAEA;
    }

.tag-table-button-modal svg {
    width: 14px;
    height: 14px;
}

.tag-table-icon-reglament {
    width: 15px;
    height: 17px;
    margin-left: 27px;
    color: #A8B3B9;
}
    .tag-table-icon-reglament.red {
        color: #EB5757;
    }