.bg {
    width: 85px;
    height: 50px;
    background: var(--white);
    border: 1px solid #EB5757;
    border-radius: 5px;
    padding: 4px 0 9px 0;
    user-select: none;    
}

    .bg.large {
        width: 180px;
        display: flex;
        flex-direction: row;
    }
    .bg.new {
        border-color: #BA8FDB;
        color: #BA8FDB;
    }
    .bg.new .title, .bg.new .value {
        color: #BA8FDB;
    }
    .bg.unverified {
        border-color: #FFA10A;
    }
    .bg.unverified .title, .bg.unverified .value {
        color: #FFA10A;
    }

.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 2px;
    height: 100%;
}

    .container:nth-child(2) .title {
        color: rgba(0, 32, 51, 0.5);
    }
    .container:nth-child(2) .value {
        color: #002033;
    }

.title {
    font-weight: 400;
    font-size: 10px;
    color: #EB5757;
    line-height: 97%;
    text-align: center;
}

    .title.one-line {
        margin-top: 5px;
    }

.value {
    font-weight: 600;
    font-size: 14px;
    color: #EB5757;
    line-height: 97%;
}