.bg-tag-info {
    min-height: 28px;
    padding: 5px 0px 5px 14px;
    margin-bottom: 5px;
}

    .bg-tag-info:last-child {
        padding-left: 2px;
    }

.tag-info-title {
    font-weight: 400;
    font-size: 12px;
    line-height: 120%;    
    align-items: center;
    color: rgba(0, 32, 51, 0.6);
}

.tag-info-description{
    background: #FFFFFF;
    border: 1px solid rgba(0, 32, 51, 0.1);
    border-radius: 2px;
    min-height: 22px;
    width: 100%;   
    padding: 0 6px;    
}
.tag-info-description p {    
    font-weight: 400;
    font-size: 12px;
    color: #002033;
    margin-top: 1px;
}

