<div class="icons-button"
     @onclick="Click">
    <div class="icons-button-tooltip">@Tooltip</div>
    <span class="icons-button-img" aria-hidden="true"></span>
</div>


@code {
    [Parameter]
    public EventCallback<bool> ClickEvent { get; set; }

    [Parameter]
    public string Tooltip { get; set; }

    

    private async Task Click()
    {
        await ClickEvent.InvokeAsync(true);
    }
}