<div class="modal-backdrop show"></div>

<div class="tag-table__modal-bg send-alarm">
    <CloseButton ClickEvent="Cancel"/>
    <p class="tag-table__modal-title">ПИСЬМО ОТПРАВЛЕНО НА ПОЧТУ</p>
			
    <p class="align-self-start">Письмо успешно отправлено всем участникам рассылки.</p>
</div>