@page "/faq"



<div style="">
    <h3>@Title</h3>
    
    
</div>







@code {
    [Parameter] public string? Title { get; set; } = "FAQ";

    

    protected override void OnParametersSet()
    {
        
    }

    protected override void OnInitialized()
    { 
        
    
    }
}
