@page "/feedback"




    <h3>@Title</h3>
    
<h4><a href="mailto:Kolomydtsev.AYu@gazprom-neft.ru?subject=СУС Меретояха Обратная связь">Напишите нам</a></h4>
<p>Коломыдцев Антон Юрьевич   -  <a href="mailto:Kolomydtsev.AYu@gazprom-neft.ru?subject=СУС Меретояха Обратная связь">Kolomydtsev.AYu@gazprom-neft.ru</a></p>

<p>Мартынов Роман Владимирович -  <a href="mailto:Martynov.RV@gazprom-neft.ru?subject=СУС Меретояха Обратная связь">Martynov.RV@gazprom-neft.ru</a></p>






@code {
    [Parameter] public string? Title { get; set; } = "Обратная связь";

    

    protected override void OnParametersSet()
    {
        
    }

    protected override void OnInitialized()
    { 
        
    
    }
}
