@page "/"

@using System.Text.Json;

<div style="display:flex; justify-content:space-evenly;margin-top:50px;">
    <div style="display:flex;flex-direction:column;align-content:center;">
        <h4>Количество сигнализаций за @DateTime.Now.AddDays(-1).ToString("M")</h4>
        <div style="height:340px;display: flex;justify-content: center; align-items: center; max-width:420px;margin: auto;">
            <DoughnutChart Id="donutChart1" Data1="@num1"/>
            <h3 style="position: absolute;margin-top: 45px;font-size: 50px;" title="Среднее число входящих сигнализаций">N/A</h3>
        </div>
    </div>
    <div style="display:flex;flex-direction:column;align-content:center;">
        <h4>Количество сигнализаций за @DateTime.Now.AddDays(-1).ToString("M") от разных датчиков</h4>
        <div style="height:340px;display: flex;justify-content: center; align-items: center;max-width:420px;margin: auto;">
            <DoughnutChart Id="donutChart2" Data1="@num2"/>
            <h3 style="position: absolute;margin-top: 45px;font-size: 50px;" title="Среднее число входящих сигнализаций">N/A</h3>
        </div>
    </div>
</div>

<div style="display:flex;gap:20px;justify-content: space-evenly;">
    <TableIndex Title="Входящие сигнализации"></TableIndex>
    <TableIndex Title="Активные сигнализации"></TableIndex>
    <TableIndex Title="Подавленные сигнализации"></TableIndex>
</div>

<h4>Активные сигнализации</h4>
<TableOfActiveAlarms/>

<h4>Подавленные сигнализации</h4>
<TableOfActiveAlarms>
</TableOfActiveAlarms>

@code {
    [Parameter] public string? Title { get; set; }

    static DateTime From = new();
    static DateTime To = new();

    string[] num1 = new string[4];
    string[] num2 = new string[4];


    void SelectPriority()
    {

    }

    protected override void OnParametersSet()
    {
        //var rand = new Random();

        //for (int i = 0;i<3;i++)
        //{            

        //    num1[i]=rand.Next(150).ToString();
        //    num2[i]=rand.Next(150).ToString();
        //}        
        num1[3] = "1";
        num2[3] = "1";
        StateHasChanged();
    }

    protected override void OnInitialized()
    { 
        To = DateTime.Now.Date;
        From = To.AddDays(-1);       

    }
}