@page "/tagtable"

<h3>Таблица переменных</h3>

<div class="table-responsive">
    <table class="table table-striped table-bordered">
    <thead class="thead-light">
        <tr>
                <th>Позиция по ГП</th>
                <th>ItemName</th>
                <th>Class</th>
                <th>Описание</th>
                <th>Еденица измерения</th>
                <th>Состояние</th>
                <th>Приоритет</th>
                <th>Уставка</th>
                <th>Шкала</th>
                <th>Дублируется ли сигнализация (ТАГ)</th>
                <th>Воздействие</th>
                <th>Потенциальные последствия</th>
                <th>Действия Полевого оператора</th>
                <th>Действия Оператора АРМ</th>
                <th>Действия Оператора АРМ</th>
                <th>Сколько времени на реакцию</th>
            </tr>
    </thead>
    </table>
</div>

@code {

}
