@inject NavigationManager NavigationManager

@if (IsActive)
{
    <div class="tabs-item tabs-item-active">
        <p class="tabs-title tabs-title-active">
            @Title
        </p>
    </div>
}
else
{
    <div class="tabs-item" @onclick="Click">
        <p class="tabs-title">
            @Title
        </p>
        <span class="tabs-item-count">@Count</span>
    </div>
}

@code {
    [CascadingParameter (Name = "FieldId")] public int? FieldId { get; set; }
    [CascadingParameter (Name = "ArmId")] public int? ArmId { get; set; }
    
    [Parameter] public string Title { get; set; } = string.Empty;
    [Parameter] public int Count { get; set; }
    [Parameter] public bool IsActive { get; set; }
    
    void Click()
    {
        var href = "";
        switch (Title)
        {
            case "Входящие":
            {
                href = $"/monitoring/incoming/?fieldId={FieldId}&armId={ArmId}";
                break;
            }
            case "Активные":
            {
                href = $"/monitoring/active/?fieldId={FieldId}&armId={ArmId}";
                break;
            }
            case "Подавленные":
            {
                href = $"/monitoring/suppressed/?fieldId={FieldId}&armId={ArmId}";
                break;
            }
            case "Архив":
            {
                href = $"/monitoring/archive/?fieldId={FieldId}&armId={ArmId}";
                break;
            }
        }
        NavigationManager.NavigateTo(href);
    }
}