<div class="table-status @Status @Priority">
	<p>@Title</p>
</div>

@code {
	[Parameter] public string? Title { get; set; } = "H/L";
	[Parameter] public string? Status { get; set; }
	[Parameter] public string? Priority { get; set; }
}
