@using GPNA.AlarmControlSystem.Models.Dto.IncomingAlarm
@using GPNA.AlarmControlSystem.Pages.Monitoring.Alarms
<table class="bg-monitoring-table ">
    <thead>
    <tr>
        <th class="bg-monitoring-table-button" style="min-width: 90px;">
            <div>
                <p>Дата</p>
                <button>
                    <svg>
                        <use href="/img/icons/icons.svg#sorting"></use>
                    </svg>
                </button>
            </div>
        </th>
        <th class="bg-monitoring-table-button" style="min-width: 90px;">
            <div>
                <p>Время</p>
                <button>
                    <svg>
                        <use href="/img/icons/icons.svg#sorting"></use>
                    </svg>
                </button>
            </div>
        </th>
        <th class="bg-monitoring-table-button" style="min-width: 120px;">
            <div>
                <p>Повторений</p>
                <button>
                    <svg>
                        <use href="/img/icons/icons.svg#sorting"></use>
                    </svg>
                </button>
            </div>
        </th>
        <th class="bg-monitoring-table-button" style="min-width: 230px;">
            <div>
                <p>Таг</p>
                <button>
                    <svg>
                        <use href="/img/icons/icons.svg#search"></use>
                    </svg>
                </button>
            </div>
        </th>
        <th class="bg-monitoring-table-button" style="min-width: 120px;">
            <div>
                <p>Статус</p>
                <div>
                    <button>
                        <svg>
                            <use href="/img/icons/icons.svg#filter"></use>
                        </svg>
                    </button>
                    <button>
                        <svg>
                            <use href="/img/icons/icons.svg#sorting"></use>
                        </svg>
                    </button>
                </div>
            </div>
        </th>
        <th style="min-width: 860px;">
            <p>Описание</p>
        </th>
        <th class="bg-monitoring-table-button" style="min-width: 140px;">
            <div>
                <p>Приоритет</p>
                <div>
                    <button>
                        <svg>
                            <use href="/img/icons/icons.svg#filter"></use>
                        </svg>
                    </button>
                    <button>
                        <svg>
                            <use href="/img/icons/icons.svg#sorting"></use>
                        </svg>
                    </button>
                </div>
            </div>
        </th>
        <th style="min-width: 150px;">
            <p>Уставка/значение</p>
        </th>
        <th class="bg-monitoring-table-button" style="min-width: 90px;">
            <div>
                <p>В задачи</p>
                <button>
                    <svg>
                        <use href="/img/icons/icons.svg#sorting"></use>
                    </svg>
                </button>
            </div>
        </th>
    </tr>
    </thead>
    <tbody>
    @if (Alarms != null)
    {
        foreach (var alarmArray in Alarms)
        {
            <IncomingAlarmComponent Alarm="alarmArray[^1]" List="@alarmArray"/>
        }
    }
    </tbody>
</table>

@code {

    [Parameter]
    public string? ButtonArrow { get; set; } = "arrow-down";

    [Parameter]
    public IncomingAlarmDto[][]? Alarms { get; set; }

}