@using GPNA.AlarmControlSystem.Models.Enums
<div class="table-status @Status?.ToString().ToLower() @Priority?.ToString().ToLower() @ActiveStatus">
	<p>@Title</p>
</div>

@code {
	[Parameter] public string? Title { get; set; } = "N/A";
	[Parameter] public StateType? Status { get; set; }
	[Parameter] public PriorityType? Priority { get; set; }
	[Parameter] public string? ActiveStatus { get; set; } = "";
}
