<div class="bg@(DomClass)">
    <p>@Title</p>
    @if (Status == "fire" || Status == "gas")
    {
        <svg>
            <use href="/img/icons/icons.svg#@Status"></use>
        </svg>
    } else
    {
        <p>@Value</p>
    }    
</div>

@code {
    [Parameter] public string? Priority { get; set; }
    [Parameter] public string? Status { get; set; }
    [Parameter] public string? StatusActive { get; set; }
    [Parameter] public string? Title { get; set; }
    [Parameter] public int? Value { get; set; } = 0;
    private string? DomClass { get; set; }
    
    protected override void OnParametersSet()
    {
        DomClass = string.Empty;

        if (!string.IsNullOrEmpty(Priority)) DomClass += $" {Priority}";
        if (!string.IsNullOrEmpty(Status)) DomClass += $" {Status}";
        if (!string.IsNullOrEmpty(StatusActive)) DomClass += $" {StatusActive}";
        
        base.OnParametersSet();
    }

}
