<button class="title-bar-button @FunctionButton">
    <div @onclick="Action">
        <p>@Title</p>
        <svg>
            <use href="/img/icons/icons.svg#@FunctionButton"></use>
        </svg>
    </div>
</button>    

@code {
    [Parameter] public string? Title { get; set; }
    
    [Parameter] public string? FunctionButton { get; set; }

    [Parameter]
    public EventCallback Action { get; set; }
}
