<button @onclick="Click" class="button-modal cancel @TypeModal">
	<svg>
		<use href="/img/icons/icons.svg#tag-modal-cancel"></use>
	</svg>
	<p>Отменить</p>
</button>

@code {
    [Parameter] public EventCallback<bool> ClickEvent { get; set; } 
    [Parameter] public string TypeModal { get; set; }

    private async Task Click()
    {
        await ClickEvent.InvokeAsync(true);
    }
}
