<button @onclick="ClickEvent" class="button-modal cancel @TypeModal" type="button" title="cancel">
	<svg>
		<use href="/img/icons/icons.svg#tag-modal-cancel"></use>
	</svg>
	<p>Отменить</p>
</button>

@code {
    [Parameter] public EventCallback ClickEvent { get; set; } 
    [Parameter] public string TypeModal { get; set; }
}
