<div class="button-modal-container">
    <button @onclick="ClickEvent" class="button-modal close" type="button">
	    <svg>
		    <use href="/img/icons/icons.svg#tag-modal-close"></use>
	    </svg>	
    </button>
</div>

@code {
    [Parameter] public EventCallback ClickEvent { get; set; }
}
