<button type="submit" @onclick="Click" class="button-modal save edit">
	<svg>
		<use href="/img/icons/icons.svg#settings-edit"></use>
	</svg>
	<p>Редактировать</p>
</button>

@code {
    [Parameter] public EventCallback<bool> ClickEvent { get; set; }    

    private async Task Click()
    {
        await ClickEvent.InvokeAsync(true);
    }
}
