<button type="submit" @onclick="ClickEvent" class="button-modal save">
	<svg>
		<use href="/img/icons/icons.svg#tag-modal-save"></use>
	</svg>
	<p>Сохранить</p>
</button>

@code {
    [Parameter] public EventCallback ClickEvent { get; set; }    
}
