<div class="d-flex align-items-center justify-content-between flex-column">
    <p class="title">Сработала сигнализация</p>
    <div class="container">
        <WorkStationViewIcon Title="Пожар" Alarm="fire"/>
        <WorkStationViewIcon Title="Загазованность" Alarm="gas" />
    </div>
</div>

@code {

}