@using GPNA.AlarmControlSystem.Pages.Main

<div class="bg">
    <div class="bg-fire-container">
        <p>@Title</p>
        <WorkStationViewFire />
    </div>
    <WorkStationViewPieChart Title="Общее количество за"/>
    <WorkStationViewPieChart Title="Уникальные"/>
    
    <div class="bg-table-container">
        <WorkStationViewTable VisibleTablePriority="true" Title="ВХОДЯЩИЕ СИГНАЛИЗАЦИИ"/>
        <WorkStationViewTable Title="АКТИВНЫЕ СИГНАЛИЗАЦИИ" />
        <WorkStationViewTable Title="ПОДАВЛЕННЫЕ СИГНАЛИЗАЦИ" />
    </div>
</div>

@code {
    [Parameter] public string? Title { get; set; }

}
