@using GPNA.AlarmControlSystem.Shared.ButtonsModal

@if (displaySendAlarmModal)
{
	<div class="modal-backdrop show"></div>

	<div class="modal tag-table__modal-bg send-alarm">
			<CloseButton ClickEvent="ClickCloseTag"></CloseButton>
			<p class="tag-table__modal-title">ОТПРАВИТЬ СИГНАЛИЗАЦИЮ В ЗАДАЧИ?</p>
			
			<p class="align-self-start">Вы уверены, что хотите отправить сигнализацию в задачи?</p>						
			<div class="tag-table__modal-button-container">
				<SendAlarmButton ClickEvent="ClickSaveTag"></SendAlarmButton>
				<CancelButton ClickEvent="ClickCloseTag"></CancelButton>
			</div>
		</div>
}


@code {
	bool displaySendAlarmModal = false;

	[Parameter] public EventCallback SaveTag { get; set; }
	[Parameter] public EventCallback CloseTag { get; set; }	

	public void Show() => displaySendAlarmModal = true;
	public void Hide() => displaySendAlarmModal = false;

	private async Task ClickSaveTag()
	{
		displaySendAlarmModal = false;
	}

	private async Task ClickCloseTag()
	{
		displaySendAlarmModal = false;
	}
}
