@using GPNA.AlarmControlSystem.Shared.ButtonsModal

<div class="modal-backdrop show"></div>

<div class="tag-table__modal-bg send-alarm">
	<CloseButton ClickEvent="Cancel"/>
	<p class="tag-table__modal-title">ОТПРАВИТЬ СИГНАЛИЗАЦИЮ В ЗАДАЧИ?</p>
			
	<p class="align-self-start">Вы уверены, что хотите отправить сигнализацию @TagName в задачи?</p>						
	<div class="tag-table__modal-button-container">
		<SendAlarmButton ClickEvent="SendAndClose"/>
		<CancelButton ClickEvent="Cancel"/>
	</div>
</div>



@code {
	[CascadingParameter] BlazoredModalInstance ModalInstance { get; set; } = default!;
	[Parameter] public string? TagName { get; set; }
	
	private async void SendAndClose() 
	{
		await ModalInstance.CloseAsync(ModalResult.Ok());
	}

	void Cancel()
	{
		ModalInstance.CancelAsync();
	}
}
