.bg {
    width: 595px;
    height: 664px;
    background: #FFFFFF;
    padding: 20px;
    border-radius: 10px;   
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0px -1px 1px rgba(0, 32, 51, 0.07), 0px 2px 2px rgba(0, 32, 51, 0.07), 0px 1px 1px rgba(0, 32, 51, 0.07), 0px 8px 16px rgba(0, 32, 51, 0.07);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: 400;
    font-size: 12px;
    color: rgba(0, 32, 51, 0.6);    
}
.title {
    color: #002033;
    padding: 0;
    margin-bottom: 15px;
}
    .bg input, .bg textarea, .small select {
        background: #FFFFFF;
        border: 1px solid rgba(0, 32, 51, 0.1);
        border-radius: 2px;
        height: 22px;
        font-weight: 400;
        font-size: 12px;
        color: #002033;
        padding-left: 6px;
    }
        .bg textarea {
            height: 40px;
            resize: none;
        }

        .bg .small {
            min-width: 265px;
        }

    .bg input:focus-visible, .bg textarea:focus-visible, .small select:focus-visible, .small select option:focus-visible {        
        outline: 1px solid rgba(0, 32, 51, 0.1);        
    }
        .bg input::placeholder, .bg textarea::placeholder {
            color: rgba(0, 32, 51, 0.25);
        }

.item-container {
    display: flex;
    flex-direction: column;
}
.item-container p {
    margin-bottom: 2px;
    margin-left: 6px;
}

.small select {
    appearance: none;
    min-width: 265px;
}

.custom-select {    
    position: relative;
}
.custom-select::after {
    --size: 3px;
    position: absolute;
    content: "";
    right: 9px;
    pointer-events: none;
}

    .custom-select::after {
        border-left: var(--size) solid transparent;
        border-right: var(--size) solid transparent;
        border-top: var(--size) solid rgba(0, 32, 51, 0.3);
        top: 45%;
    }

    .small select option {
        color: #002033;
    }

.bg button {
    background: #DDF1FC;
    border-radius: 6px;
    border: none;
    width: 135px;
    height: 38px;
    display: flex;
    align-items: center;
    justify-content: center;
}
        .bg button:last-child {            
            background: #F0F2F3;
        }

    .bg button svg {
        width: 15px;
        height: 12px;
    }
        .bg button p {
            font-weight: 400;
            font-size: 12px;
            margin-left: 13px;
        }
.button-container {
    display: flex;
    justify-content: end;
    gap: 8px;
    margin-top: 30px;
}

