@if (displayAddTagModal)
{
	<div class="modal-backdrop show"></div>

		<div class="modal bg">
			<p class="title">ОКНО ВВОДА НОВОГО TAGA</p>
			<div class="w-100 h-100 p-0 d-flex flex-column gap-2 justify-content-between">
				<div class="d-flex justify-content-between">
					<div class="item-container">
						<p>Позиция по ГП</p>
						<input class="small" type="text" placeholder="Введите позицию по ГП">
					</div>
					<div class="item-container">
						<p>TagName</p>
						<input class="small" type="text" placeholder="Введите TagName">
					</div>
				</div>
				<div class="d-flex justify-content-between">
					<div class="item-container">
						<p>Состояние</p>
						<div class="small custom-select">
						<select style="color:rgba(0, 32, 51, 0.25)" onchange="this.style.color='#002033'">
							<option disabled selected hidden>Выберите состояние</option>
							<option >Состояние 1</option>
							<option >Состояние 2</option>
						</select>
						</div>						
					</div>
					<div class="item-container">
						<p>Приоритет</p>
						<div class="small custom-select">
							<select style="color:rgba(0, 32, 51, 0.25)" onchange="this.style.color='#002033'">
								<option disabled selected hidden>Выберите приоритет</option>
								<option>Приоритет 1</option>
								<option>Приоритет 2</option>
								<option>Приоритет 3</option>
							</select>
						</div>						
					</div>
				</div>
				<div class="item-container">
					<p>Описание</p>
					<input type="text" placeholder="Введите описание">
				</div>
				<div class="d-flex justify-content-between">
					<div class="item-container">
						<p>Уставка</p>
						<input class="small" type="text" placeholder="Введите уставку">
					</div>
					<div class="item-container">
						<p>Единицы измерения</p>
						<input class="small" type="text" placeholder="Введите ед. измерения">
					</div>
				</div>
				<div class="item-container">
					<p>Потенциальные последствия</p>
					<textarea type="text" placeholder="Введите потенциальные последствия"></textarea>					
				</div>
				<div class="item-container">
					<p>Действия полевого оператора</p>
					<textarea type="text" placeholder="Введите действия полевого оператора"></textarea>					
				</div>
				<div class="item-container">
					<p>Действия оператора АРМ</p>
					<textarea type="text" placeholder="Введите действия оператора АРМ"></textarea>
				</div>
				<div class="item-container">
					<p>Условия усиления</p>
				<textarea type="text" placeholder="Введите условия усиления"></textarea>					
				</div>
				<div class="item-container">
					<p>Время на реакцию</p>
					<input type="text" placeholder="Введите время на реакцию">
				</div>
				<div class="button-container">
					<button @onclick="OnSave">
						<svg>
							<use href="/img/icons/icons.svg#tag-modal-save"></use>
						</svg>
						<p>Сохранить</p>
					</button>
					<button @onclick="OnCancel">
						<svg>
							<use href="/img/icons/icons.svg#tag-modal-cancel"></use>
						</svg>
						<p>Отменить</p>
					</button>
				</div>			
		</div>
	</div>		
	
}


@code {
	bool displayAddTagModal = false;

	[Parameter] public EventCallback OnSave { get; set; }
	[Parameter] public EventCallback OnCancel { get; set; }

	public void Show() => displayAddTagModal = true;
	public void Hide() => displayAddTagModal = false;
}
