.bg {
    width: 1250px;
    height: 772px;
    background: #FFFFFF;
    padding: 20px;
    border-radius: 10px;   
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0px -1px 1px rgba(0, 32, 51, 0.07), 0px 2px 2px rgba(0, 32, 51, 0.07), 0px 1px 1px rgba(0, 32, 51, 0.07), 0px 8px 16px rgba(0, 32, 51, 0.07);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: 400;
    font-size: 12px;
    color: rgba(0, 32, 51, 0.6);
    overflow-y: auto;    
}

.modal-button-close {
    position: absolute;
    top: 10px;
    right: 15px;
    padding: 0;
}

    .title {
        color: #002033;
        padding: 0;
        margin-bottom: 15px;
    }
    .bg input, .bg textarea, .small select {
        background: #FFFFFF;
        border: 1px solid rgba(0, 32, 51, 0.1);
        border-radius: 2px;
        height: 22px;
        font-weight: 400;
        font-size: 12px;
        color: #002033;
        padding-left: 6px;
    }
        .item-container.red input, .item-container.red textarea {
            border: 1px solid #E25757;
            color: #E25757;
        }
        .item-container.red p {           
            color: #E25757;
        }
        .bg textarea {
            min-height: 40px;
            resize: none;
        }

        .bg .small {
            min-width: 260px;
        }

    .bg input:focus-visible, .bg textarea:focus-visible, .small select:focus-visible, .small select option:focus-visible {        
        outline: 1px solid rgba(0, 32, 51, 0.1);        
    }
        .bg input::placeholder, .bg textarea::placeholder {
            color: rgba(0, 32, 51, 0.25);
        }

    .item-container.red input:focus-visible, .item-container.red textarea:focus-visible {
        outline: 1px solid #E25757;
    }

.item-container {
    display: flex;
    flex-direction: column;
}
.item-container p {
    margin-bottom: 2px;
    margin-left: 6px;
}

.small select {
    appearance: none;
    width: 260px;
}

.x2 {
    width: 555px;
}

.custom-select {    
    position: relative;
}
.custom-select::after {
    --size: 3px;
    position: absolute;
    content: "";
    right: 9px;
    pointer-events: none;
}

    .custom-select::after {
        border-left: var(--size) solid transparent;
        border-right: var(--size) solid transparent;
        border-top: var(--size) solid rgba(0, 32, 51, 0.3);
        top: 45%;
    }

    .small select option {
        color: #002033;
    }
        .small select > option:checked {
            background-color: rgba(204, 217, 224, 0.15);
        }

        .button-container button {
            background: #DDF1FC;
            border-radius: 6px;
            border: none;
            width: 135px;
            height: 38px;
            display: flex;
            align-items: center;
            justify-content: center;
        }

.button-container button:hover {
    background: #D0EDFD;
}
        .button-container button:last-child {            
            background: #F0F2F3;
        }
            .button-container button:last-child:hover {
                background: #E8E8E8;
            }

    .button-container button svg {
        width: 15px;
        height: 12px;
    }
        .button-container button p {
            font-weight: 400;
            font-size: 12px;
            margin-left: 13px;
        }
.button-container {
    display: flex;
    justify-content: end;
    gap: 8px;
    margin-top: 30px;
}

.bg-tag-info {
    width: 595px;
    min-height: 244px;
    padding: 12px 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 0.5px solid rgba(0, 32, 51, 0.25);
    font-weight: 400;
    font-size: 12px;
    color: rgba(0, 32, 51, 0.6);
}

.bg-tag-info .title {
    margin-bottom: 7px;
}

.bg-tag-info.big {
    width: 100%;
    min-height: 230px;
}

    .button-adressee-add {
        width: 103px;
        height: 22px;
        background: #F0F2F3;
        border-radius: 4px;
        border: none;        
        padding: 0;
        display: flex;
        align-items: center;
        justify-content: center;
    }

        .button-adressee-add:hover {
            background: #E8E8E8;
        }

        .button-adressee-add svg {
            width: 11px;
            height: 11px;
        }
    .button-adressee-add p {
        font-weight: 400;
        font-size: 12px;
        margin-left: 8px;
    }