@if (displayDeleteTagModal)
{
	<div class="modal-backdrop show"></div>

		<div class="modal bg">
			<div class="modal-button-close">			
			<ButtonModal ActionSvg="close" ClickEvent="ClickCloseTag" ButtonType="close"></ButtonModal>
			</div>
			<p class="title">ОКНО УДАЛЕНИЯ ПАРАМЕТРА</p>
			
			<p>Вы уверены, что хотите удалить параметр?</p>
			<p>(В случае активности будет отображаться как новый)</p>				
			<div class="button-container">					
				<ButtonModal ButtonType="delete" Title="Удалить" ActionSvg="delete" ClickEvent="ClickSaveTag"></ButtonModal>
				<ButtonModal ButtonType="cancel-delete" Title="Отменить" ActionSvg="cancel" ClickEvent="ClickCloseTag"></ButtonModal>					
			</div>
		</div>
}


@code {
	bool displayDeleteTagModal = false;

	[Parameter] public EventCallback SaveTag { get; set; }
	[Parameter] public EventCallback CloseTag { get; set; }	

	public void Show() => displayDeleteTagModal = true;
	public void Hide() => displayDeleteTagModal = false;

	private async Task ClickSaveTag()
	{
		displayDeleteTagModal = false;
	}

	private async Task ClickCloseTag()
	{
		displayDeleteTagModal = false;
	}
}
