@using GPNA.AlarmControlSystem.Shared.ButtonsModal

@if (displayEditTagModal)
{
	<div class="modal-backdrop show"></div>

	<div class="tag-table__modal-bg edit">
		<CloseButton ClickEvent="ClickCloseTag"></CloseButton>
		<p class="tag-table__modal-title">ОКНО РЕДАКТИРОВАНИЯ TЕГА</p>
		<div class="w-100 h-100 p-0 d-flex flex-column gap-2 justify-content-between">
			<div class="d-flex justify-content-between">
				<div class="tag-table__modal-item-container">
					<p>Позиция по ГП</p>
					<input class="tag-table__modal-item-input small" type="text" placeholder="Введите позицию по ГП">
				</div>
				<div class="tag-table__modal-item-container">
					<p>TagName</p>
					<input class="tag-table__modal-item-input small" type="text" placeholder="313_PIZA_104" readonly>
				</div>
			</div>
			<div class="d-flex justify-content-between">
				<div class="tag-table__modal-item-container">
					<p>Состояние</p>
					<input class="tag-table__modal-item-input small" type="text" placeholder="LL" readonly>
				</div>
				<div class="tag-table__modal-item-container">
					<p>Приоритет</p>
					<div class="tag-table__modal-custom-select">
						<select class="tag-table__modal-item-select" style="color:rgba(0, 32, 51, 0.25)" onchange="this.style.color='#002033'">
							<option disabled selected hidden>Выберите приоритет</option>
							<option>Приоритет 1</option>
							<option>Приоритет 2</option>
							<option>Приоритет 3</option>
						</select>
					</div>
				</div>
			</div>
			<div class="tag-table__modal-item-container">
				<p>Описание</p>
				<input class="tag-table__modal-item-input" type="text" placeholder="Введите описание">
			</div>
			<div class="d-flex justify-content-between">
				<div class="tag-table__modal-item-container">
					<p>Уставка</p>
					<input class="tag-table__modal-item-input small" type="text" placeholder="Введите уставку">
				</div>
				<div class="tag-table__modal-item-container">
					<p>Единицы измерения</p>
					<input class="tag-table__modal-item-input small" type="text" placeholder="Введите ед. измерения">
				</div>
			</div>
			<div class="tag-table__modal-item-container">
				<p>Потенциальные последствия</p>
				<textarea class="tag-table__modal-item-textarea" type="text" placeholder="Введите потенциальные последствия"></textarea>
			</div>
			<div class="tag-table__modal-item-container">
				<p>Действия полевого оператора</p>
				<textarea class="tag-table__modal-item-textarea" type="text" placeholder="Введите действия полевого оператора"></textarea>
			</div>
			<div class="tag-table__modal-item-container">
				<p>Действия оператора АРМ</p>
				<textarea class="tag-table__modal-item-textarea" type="text" placeholder="Введите действия оператора АРМ"></textarea>
			</div>
			<div class="tag-table__modal-item-container">
				<p>Условия усиления</p>
				<textarea class="tag-table__modal-item-textarea" type="text" placeholder="Введите условия усиления"></textarea>
			</div>
			<div class="tag-table__modal-item-container">
				<p>Время на реакцию</p>
				<input class="tag-table__modal-item-input" type="text" placeholder="Введите время на реакцию">
			</div>
			<div class="tag-table__modal-button-container">
				<SaveButton ClickEvent="ClickSaveTag"></SaveButton>
				<CancelButton ClickEvent="ClickCloseTag"></CancelButton>
			</div>
		</div>
	</div>
}


@code {
	bool displayEditTagModal = false;

	[Parameter] public EventCallback SaveTag { get; set; }
	[Parameter] public EventCallback CloseTag { get; set; }

	public void Show() => displayEditTagModal = true;
	public void Hide() => displayEditTagModal = false;

	private async Task ClickSaveTag()
	{
		displayEditTagModal = false;
	}

	private async Task ClickCloseTag()
	{
		displayEditTagModal = false;
	}
}
