@if (displayEditTagModal)
{
	<div class="modal-backdrop show"></div>

	<div class="modal bg">
		<div class="modal-button-close">
			<ButtonModal ActionSvg="close" ClickEvent="ClickCloseTag" ButtonType="close"></ButtonModal>
		</div>
		<p class="title">ОКНО РЕДАКТИРОВАНИЯ TЕГА</p>
		<div class="w-100 h-100 p-0 d-flex flex-column gap-2 justify-content-between">
			<div class="d-flex justify-content-between">
				<div class="item-container">
					<p>Позиция по ГП</p>
					<input class="small" type="text" placeholder="Введите позицию по ГП">
				</div>
				<div class="item-container">
					<p>TagName</p>
					<input class="small" type="text" placeholder="313_PIZA_104" readonly>
				</div>
			</div>
			<div class="d-flex justify-content-between">
				<div class="item-container">
					<p>Состояние</p>
					<input class="small" type="text" placeholder="LL" readonly>
				</div>
				<div class="item-container">
					<p>Приоритет</p>
					<div class="small custom-select">
						<select style="color:rgba(0, 32, 51, 0.25)" onchange="this.style.color='#002033'">
							<option disabled selected hidden>Выберите приоритет</option>
							<option>Приоритет 1</option>
							<option>Приоритет 2</option>
							<option>Приоритет 3</option>
						</select>
					</div>
				</div>
			</div>
			<div class="item-container">
				<p>Описание</p>
				<input type="text" placeholder="Введите описание">
			</div>
			<div class="d-flex justify-content-between">
				<div class="item-container">
					<p>Уставка</p>
					<input class="small" type="text" placeholder="Введите уставку">
				</div>
				<div class="item-container">
					<p>Единицы измерения</p>
					<input class="small" type="text" placeholder="Введите ед. измерения">
				</div>
			</div>
			<div class="item-container">
				<p>Потенциальные последствия</p>
				<textarea type="text" placeholder="Введите потенциальные последствия"></textarea>
			</div>
			<div class="item-container">
				<p>Действия полевого оператора</p>
				<textarea type="text" placeholder="Введите действия полевого оператора"></textarea>
			</div>
			<div class="item-container">
				<p>Действия оператора АРМ</p>
				<textarea type="text" placeholder="Введите действия оператора АРМ"></textarea>
			</div>
			<div class="item-container">
				<p>Условия усиления</p>
				<textarea type="text" placeholder="Введите условия усиления"></textarea>
			</div>
			<div class="item-container">
				<p>Время на реакцию</p>
				<input type="text" placeholder="Введите время на реакцию">
			</div>
			<div class="button-container">
				<ButtonModal Title="Сохранить" ActionSvg="save" ClickEvent="ClickSaveTag"></ButtonModal>
				<ButtonModal Title="Отменить" ActionSvg="cancel" ClickEvent="ClickCloseTag"></ButtonModal>
			</div>
		</div>
	</div>

}


@code {
	bool displayEditTagModal = false;

	[Parameter] public EventCallback SaveTag { get; set; }
	[Parameter] public EventCallback CloseTag { get; set; }

	public void Show() => displayEditTagModal = true;
	public void Hide() => displayEditTagModal = false;

	private async Task ClickSaveTag()
	{
		displayEditTagModal = false;
	}

	private async Task ClickCloseTag()
	{
		displayEditTagModal = false;
	}
}
