@using LocalDbStorage.Repositories.Models



<thead class="thead-light">
    <tr>
        <th>Дата начала сигнализации</th>
        <th>Дата окончания сигнализации</th>
        <th>Длительность (в часах)</th>
        <th>Таг</th>
        <th>Описание</th>
        <th>Приоритет 
            <select @bind="@Priority" @onabort="OnParametersSet">
                <option value="5">Все</option>
                <option value="4">Критический</option>
                <option value="3">Высокий</option>
                <option value="2">Низкий</option>
            </select>
        </th>
        <th>Уставка/Значение</th>        
    </tr>            
</thead>
<tbody>
    @if(Alarms == null)
    {
        <Loader/>
    }
    else
    {
        <Virtualize Items="Alarms">        
            <ItemContent>
                <ActiveAlarmComponent @key="context.Id" Tag="@context"/>
            </ItemContent>        
            <Placeholder>
                <Loader/>
            </Placeholder>
        </Virtualize>
    }
</tbody>

@code {

    [Parameter] public List<ActiveAlarm>? Alarms { get; set; }

    [Parameter] public int? Priority { get; set; } = 5;

    protected override async Task OnInitializedAsync()    
    {
        //var activeAlarms= await RestService.GetAllActiveAlarm();
        //Alarms = new List<ActiveAlarm>(activeAlarms.OrderByDescending(c => c.StartDate));        
    }

    protected override void OnParametersSet()
    {
        if (Priority != 5)
        {
            var alarms = new List<ActiveAlarm>();
            foreach (var item in Alarms ?? new List<ActiveAlarm>())
            {
                if (Convert.ToInt32(item.Priority) == Priority)
                {
                    alarms.Add(item);
                }
            }
            Alarms = alarms;
        }
    }
}
