@using LocalDbStorage.Interfaces
@using LocalDbStorage.Repositories.Models
@using GPNA.AlarmControlSystem.Pages.Monitoring.Alarms
@using GPNA.AlarmControlSystem.Pages.Monitoring.Tables
@using LocalDbStorage.Services

<thead class="thead-light">
    <tr>
        <th>Дата последней сигнализации</th>
        <th>Время последней сигнализации</th>
        <th>Таг</th>
        <th colspan=4>Описание</th>
        <th>Приоритет 
            <select @bind="@Priority" @onabort="OnParametersSet">
                <option value="5">Все</option>
                <option value="4">Критический</option>
                <option value="3">Высокий</option>
                <option value="2">Низкий</option>
            </select>
        </th>
        <th>Уставка/Значение</th>
        <th>Тест</th>
        <th>Количество повторений за смену</th>
    </tr>            
</thead>
<tbody>

    @if(Alarms == null)
    {
        <Loader/>
    }
    else
    {
        <Virtualize Items="Alarms">            
                <IncomingAlarmComponent @key="context[context.Count-1].Id" List="@context"/>            
        </Virtualize>
    }
        
</tbody>

@code {
    [Inject] IIncomingAlarmService IncomingAlarmService { get; set; } = null!;

    [Parameter] public List<List<IncomingAlarm>>? Alarms { get; set; }

    [Parameter] public int? Priority { get; set; } = 5;

    [CascadingParameter(Name = "From")] public DateTime From { get; set; }
    [CascadingParameter(Name = "To")] public DateTime To { get; set; }

    protected override async Task OnInitializedAsync()    
    {
        var incomingAlarms= await IncomingAlarmService.GetCountInDate(1, From, To);
        Alarms = incomingAlarms;        
    }

    protected override void OnParametersSet()
    {
        //if (Priority != 5)
        //{
        //    var alarms = new List<IncomingAlarm>();
        //    foreach (var item in Alarms ?? new List<IncomingAlarm>())
        //    {
        //        if (Convert.ToInt32(item.Priority) == Priority)
        //        {
        //            alarms.Add(item);
        //        }
        //    }
        //    Alarms = alarms;
        //}
    }
}
