.settings-stat-button {
    padding: 0;
    border: none;
    font: inherit;
    color: inherit;
    cursor: pointer;
    background: #F0F2F3;
    border-radius: 6px;
    width: 21px;
    height: 21px;
    display: flex;
    justify-content: center;
    align-items: center;    
}

    .settings-stat-button:hover {
        background: #E8E8E8;
    }

    .settings-stat-button svg {
        width: 14px;
        height: 14px;
    }

