<div class="settings-stats-container ">
	<p class="settings-stat-title">@Title</p>

    @if (Enabled)
    {
        <div class="d-flex gap-2">
            <button class="settings-stat-button">
                <svg>
                    <use href="/img/icons/icons.svg#settings-add-line"></use>
                </svg>
            </button>
            <button class="settings-stat-button">
                <svg>
                    <use href="/img/icons/icons.svg#settings-delete-line"></use>
                </svg>
            </button>
        </div>
    }

        <input class="settings-stat-input" type="text" placeholder="Введите ФИО" disabled="@(!Enabled)" />
        <input class="settings-stat-input" type="text" placeholder="Введите почту" disabled="@(!Enabled)" />
   
</div>

@code {
    [Parameter]
    public string? Title { get; set; }

    [Parameter]
    public bool SettingsEdit { get; set; } = false;

    [Parameter]
    public bool Enabled { get; set; } = false;
}
