.table-title {
    text-align: center;
    caption-side: top;
    font-family: 'Inter';    
    font-weight: 400;
    font-size: 12px;
    text-transform: uppercase;
    color: #002033;
}

.table-head-line {
    height: 28px;
}

    .table-head-line p {
        font-family: 'Inter';       
        font-weight: 400;
        font-size: 13px;
        color: rgba(0, 32, 51, 0.6);
        line-height: 110%;
    }

.table-head-user {
    min-width: 288px;
}

.table-head-access {
    min-width: 170px;
    text-align: center;
}
