<table>
	<caption class="table-title">АДМИНИСТРАТОР (СУПЕРПОЛЬЗОВАТЕЛЬ)</caption>
	<thead>
		<tr class="table-head-line">
			<th class="table-head-user"><p>Должность</p></th>
		
			<th class="table-head-user"><p>ФИО</p></th>
		
			<th class="table-head-user"><p>Почта</p></th>
		
			<th class="table-head-access"><p>Комментарии<br />мониторинг</p></th>
		
			<th class="table-head-access"><p>Задачи</p></th>
		
			<th class="table-head-access"><p>Таблица переменных</p></th>
		
			<th class="table-head-access"><p>Изменние KPI</p></th>
		
			<th class="table-head-access"><p>Комментарии журнал<br />изменений АСУ ТП</p></th>
		
			<th class="table-head-access"><p>Назначать<br />ответственных</p></th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td></td>
		</tr>
	</tbody>
</table>
