<div class="legend">
	<section class="legend-section-container">
		<p class="legend-section-title">ПРОСМОТР АРХИВА ИЗМЕНЕНИЙ</p>		
		<p class="legend-transcript">При нажатии на таг появится возможность просмотра<br />
									истории введенных изменений в журнал АСУ ТП<br />
									в хронологии от первоначально введенной<br />
									информации к конечным изменениям (снизу вверх)</p>		
	</section>
	<section class="legend-section-container">
		<p class="legend-section-title">ПАРАМЕТРЫ ИЗМЕНЕНИЙ</p>
		<div class="d-flex align-items-center">
			<div class="table-change-frame">
				<p>441</p>
			</div>
			<p class="legend-transcript">в рамке показаны переменные,<br />
										к которой были применены изменения<br />
										в соответствии с периодом<br />
			</p>
		</div>
	</section>
</div>