@using GPNA.AlarmControlSystem.Shared.ButtonsModal

<div class="legend">
	<section class="legend-section-container">
		<p class="legend-section-title">НАСТРОЙКА ПАРАМЕТРА KPI</p>		
		<div class="d-flex align-items-center">			
			<EditButton />
			<p class="legend-transcript">для настройки KPI необходимо <br /> войти в режим редактирования</p>
		</div>		
	</section>

	<section class="legend-section-container">
		<p class="legend-section-title">ВВОД ДАННЫХ</p>
		<div class="d-flex align-items-center">
			<div class="data-input-bg">
				<p>24</p>
			</div>
			<p class="legend-transcript">ввести данные вручную</p>
		</div>		
	</section>

	<section class="legend-section-container">
		<p class="legend-section-title">СОХРАНЕНИЕ ДАННЫХ</p>
		<div class="d-flex align-items-center">
			<SaveButton />
			<p class="legend-transcript">сохранить внесенные изменения</p>
		</div>
		<div class="d-flex align-items-center">
			<CancelButton />
			<p class="legend-transcript">отменить внесенные изменения</p>
		</div>
	</section>	
</div>
