<div class="legend">
	<section class="legend-section-container">
		<p class="legend-section-title">ОТКЛОНЕНИЕ С АНАЛОГИЧНЫМ <br />ПЕРИОДОМ ПРОШЛОЙ НЕДЕЛИ</p>
		<div class="d-flex align-items-center">
			<svg class="reports-icon">
				<use href="/img/icons/icons.svg#legend-reports-pointers1"></use>
			</svg>
			<div class="legend-transcript-container">
				<p class="legend-transcript">значение текущей недели</p>
				<p class="legend-transcript">отклонение</p>
				<p class="legend-transcript">значение прошлой недели</p>
			</div>			
		</div>		
	</section>
</div>