<div class="legend">
	<section class="legend-section-container">
		<p class="legend-section-title">СТАТИСТИКА ВЫПОЛННЕИЯ ЗАДАЧ ПО ЦЕХАМ</p>		
		<p class="legend-transcript">Текст из проектной документации,<br />
									описывающий логику страницы статистики<br />
									выполнения задач по цехам</p>		
	</section>
</div>