<div class="legend-tag-table">
	<div class="legend-tag-table-container">
		<div class="legend-tag-table-indicator new"></div>
		<p class="legend-tag-table-transcript">Новый</p>
	</div>
	<div class="legend-tag-table-container">
		<div class="legend-tag-table-indicator unverified"></div>
		<p class="legend-tag-table-transcript">Непроверенный</p>
	</div>
	<div class="legend-tag-table-container">
		<div class="legend-tag-table-indicator incorrect"></div>
		<p class="legend-tag-table-transcript">Некорректный</p>
	</div>
	<div class="legend-tag-table-container">
		<div class="legend-tag-table-indicator norma"></div>
		<p class="legend-tag-table-transcript">Все в норме</p>
	</div>
</div>

@code {

}
