.legend {
    width: 100%;
    height: 100%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 20px;
    font-family: 'Inter';
    font-weight: 400;
    font-size: 12px;
    min-width: 390px;
    pointer-events: none;
}
.legend-section-container {
    display: flex;
    flex-direction: column;
    gap: 8px;
    align-items: start;
}

.legend-section-title {
    text-transform: uppercase;
    color: rgba(0, 32, 51, 0.5);
    margin-bottom: 4px;
}

.data-input-bg {
    min-width: 135px;
    height: 22px;
    padding: 0 6px;
    display: flex;
    justify-content: start;
    align-items: center;
    background: linear-gradient(0deg, rgba(221, 241, 252, 0.5), rgba(221, 241, 252, 0.5)), #FFFFFF;
    border: 1px solid rgba(0, 32, 51, 0.1);
    border-radius: 2px;
}

    .data-input-bg p {
        color: rgba(0, 32, 51, 0.4);
    }

.tag-icon-checkbox {
    width: 12px;
    height: 12px;
}

    .legend-transcript {
        color: rgba(0, 32, 51, 0.8);
        white-space: nowrap;
        margin-left: 15px;
    }    