@if(_isVisible)
{
	<div class="legeng-container">
		<button class="legend-button" @onclick="@(() => _displayLegend = !_displayLegend)">		
			<svg>
				<use href="/img/icons/icons.svg#legend"></use>
			</svg>
		</button>
		@if (_displayLegend)
		{
			<div class="legend-content">
				@switch (ActivePageName)
				{
					case "/":
						<LegendMain/>
						break;
					case "/tasks" or "/tasks/":
						<LegendTask />
						break;
					case "/tag-table" or "/tag-table/":
						<LegendTagTable />
						break;
					case "/monitoring" or "/monitoring/":
						<LegendMonitoring />
						break;
					case "/reports/back-alarms" or "/reports/back-alarms/":
						<LegendReportsBackAlarms />
						break;
					case "/reports/execute-tasks" or "/reports/execute-tasks/":
						<LegendReportsExecuteTasks />
						break;
					case "/tag-table-archive" or "/tag-table-archive/":
						<LegendTagTableArchive />
						break;
					case "/settings/kpi" or "/settings/kpi/":
						<LegendSettingKPI />
						break;
					case "/settings/permissions" or "/settings/permissions/":
						<LegendSettingPermissions />
						break;
					
				}
			</div>
		}
	</div>
}

@code {
	[Parameter] public string ActivePageName { get; set; } = string.Empty;
	private bool _displayLegend, _isVisible;

	protected override void OnParametersSet()
	{
		if (ActivePageName is "/" or "/tasks" or "/tasks/" or "/tag-table" or "/tag-table/" or "/monitoring" 
							or "/monitoring/" or "/reports/back-alarms" or "/reports/back-alarms/" or "/reports/execute-tasks" 
							or "/reports/execute-tasks/" or "/tag-table-archive" or "/tag-table-archive/"
							or "/settings/kpi" or "/settings/kpi/" or "/settings/permissions" or "/settings/permissions/")
			_isVisible = true;
	}

}
