<div class="legend">
	<section class="legend-section-container">
		<p class="legend-section-title">ПОВТОРЕНИЯ СИГНАЛИЗАЦИИ</p>		
		<div class="d-flex align-items-center">
			<div class="alarm-excess-bg">				
				<p>5</p>
				<svg class="alarm-excess-arrow">
					<use href="/img/icons/icons.svg#arrow-up"></use>
				</svg>
			</div>
			<p class="legend-transcript">превышение по количеству</p>
		</div>
		<div class="d-flex align-items-center">
			<div class="alarm-excess-bg time">				
				<p>73 889,112</p>
			</div>
			<p class="legend-transcript">превышение по длительности</p>
		</div>		
	</section>

	<section class="legend-section-container">
		<p class="legend-section-title">ОТПРАВЛЕНИЕ СИГНАЛИЗАЦИИ В ЗАДАЧИ</p>
		<div class="d-flex align-items-center">
			<svg class="alarm-icon-checkbox">
				<use href="/img/icons/icons.svg#unit-not-selected"></use>
			</svg>
			<p class="legend-transcript checkbox">не выбрана</p>
		</div>
		<div class="d-flex align-items-center">
			<svg class="alarm-icon-checkbox">
				<use href="/img/icons/icons.svg#unit-sent"></use>
			</svg>
			<p class="legend-transcript checkbox">отправлена в задачи</p>
		</div>
		<div class="d-flex align-items-center">
			<svg class="alarm-icon-checkbox">
				<use href="/img/icons/icons.svg#unit-selected"></use>
			</svg>
			<p class="legend-transcript checkbox">выбрана для отправки в задачи</p>
		</div>
	</section>

	<section class="legend-section-container">
		<p class="legend-section-title">ПРИОРИТЕТ</p>
		<div class="d-flex align-items-center">
			<div class="alarm-priority-bg critical">
				<p>Критичный</p>
			</div>
			<p class="legend-transcript">критичный приоритет</p>
		</div>
		<div class="d-flex align-items-center">
			<div class="alarm-priority-bg high">
				<p>Высокий</p>
			</div>
			<p class="legend-transcript">высокий приоритет</p>
		</div>
		<div class="d-flex align-items-center">
			<div class="alarm-priority-bg low">
				<p>Низкий</p>
			</div>
			<p class="legend-transcript">низкий приоритет</p>
		</div>
		<div class="d-flex align-items-center">
			<div class="alarm-priority-bg info">
				<p>Инфо</p>
			</div>
			<p class="legend-transcript">информационный</p>
		</div>
		<div class="d-flex align-items-center">
			<div class="alarm-priority-bg none-priority">
				<p>Нет</p>
			</div>
			<p class="legend-transcript">нет приоритета</p>
		</div>
	</section>

	<section class="legend-section-container">
		<p class="legend-section-title">СТАТУС</p>
		<div class="d-flex align-items-center">
			<div class="alarm-status-bg h-l">
				<p>H</p>
			</div>
			<p class="legend-transcript">предупредительный верхний уровень</p>
		</div>
		<div class="d-flex align-items-center">
			<div class="alarm-status-bg h-l">
				<p>L</p>
			</div>
			<p class="legend-transcript">предупредительный нижний уровень</p>
		</div>
		<div class="d-flex align-items-center">
			<div class="alarm-status-bg hh-ll">
				<p>LL</p>
			</div>
			<p class="legend-transcript">аварийно нижний уровень</p>
		</div>
		<div class="d-flex align-items-center">
			<div class="alarm-status-bg hh-ll">
				<p>HH</p>
			</div>
			<p class="legend-transcript">аварийно верхний уровень</p>
		</div>
		<div class="d-flex align-items-center">
			<div class="alarm-status-bg discr">
				<p>DISCR</p>
			</div>
			<p class="legend-transcript">дискретный сигнал</p>
		</div>
		<div class="d-flex align-items-center">
			<div class="alarm-status-bg rshi">
				<p>RSHI</p>
			</div>
			<p class="legend-transcript">ошибка счетчика по верхнему уровню</p>
		</div>
		<div class="d-flex align-items-center">
			<div class="alarm-status-bg rslo">
				<p>RSLO</p>
			</div>
			<p class="legend-transcript">ошибка счетчика по нижнему уровню</p>
		</div>
		<div class="d-flex align-items-center">
			<div class="alarm-status-bg none-state">
				<p>NoneState</p>
			</div>
			<p class="legend-transcript">статус отсутствует</p>
		</div>
	</section>

	<section class="legend-section-container">
		<p class="legend-section-title">ФИЛЬТР</p>
		<div class="d-flex align-items-center">
			<svg class="filter-icon">
				<use href="/img/icons/icons.svg#legend-monitoring-filter-active"></use>
			</svg>
			<p class="legend-transcript">активен</p>
		</div>
		<div class="d-flex align-items-center">
			<svg class="filter-icon">
				<use href="/img/icons/icons.svg#legend-monitoring-filter"></use>
			</svg>
			<p class="legend-transcript">не активен</p>
		</div>
	</section>	

	<section class="legend-section-container">
		<p class="legend-section-title">СРАБОТКА СИГНАЛИЗАЦИИ</p>
		<div class="d-flex align-items-center">
			<svg class="alarm-icon">
				<use href="/img/icons/icons.svg#legend-monitoring-alarm-active"></use>
			</svg>
			<p class="legend-transcript">сработала сигнализация</p>
		</div>
		<div class="d-flex align-items-center">
			<svg class="alarm-icon">
				<use href="/img/icons/icons.svg#legend-monitoring-alarm"></use>
			</svg>
			<p class="legend-transcript">не сработала сигнализация</p>
		</div>
	</section>
</div>
