<div class="legend">
	<section class="legend-section-container">
		<p class="legend-section-title">ПРЕВЫШЕНО КОЛИЧЕСТВО <br />СИГНАЛИЗАЦИЙ С ПРИОРИТЕТОМ</p>		
		<div class="d-flex align-items-center">
			<div class="pie-chart-stat-priority low"></div>
			<p class="legend-transcript">низкий</p>
		</div>
		<div class="d-flex align-items-center">
			<div class="pie-chart-stat-priority high"></div>
			<p class="legend-transcript">высокий</p>
		</div>
		<div class="d-flex align-items-center">
			<div class="pie-chart-stat-priority critical"></div>
			<p class="legend-transcript">критичный</p>
		</div>
	</section>

	<section class="legend-section-container">
		<p class="legend-section-title">СИГНАЗИЗАЦИЯ ПОЖАРА</p>
		<div class="d-flex align-items-center">
			<svg class="tag-icon-alarm">
				<use href="/img/icons/icons.svg#legend-fire-active"></use>
			</svg>
			<p class="legend-transcript">сработала</p>
		</div>
		<div class="d-flex align-items-center">
			<svg class="tag-icon-alarm">
				<use href="/img/icons/icons.svg#legend-fire"></use>
			</svg>
			<p class="legend-transcript">не сработала</p>
		</div>
	</section>

	<section class="legend-section-container">
		<p class="legend-section-title">СИГНАЗИЗАЦИЯ ЗАГАЗОВАННОСТИ</p>
		<div class="d-flex align-items-center">
			<svg class="tag-icon-alarm">
				<use href="/img/icons/icons.svg#legend-gas-active"></use>
			</svg>
			<p class="legend-transcript">сработала</p>
		</div>
		<div class="d-flex align-items-center">
			<svg class="tag-icon-alarm">
				<use href="/img/icons/icons.svg#legend-gas"></use>
			</svg>
			<p class="legend-transcript">не сработала</p>
		</div>
	</section>

	<section class="legend-section-container">
		<p class="legend-section-title">ПРЕВЫШЕНИЕ KPI НА</p>
		<div class="d-flex align-items-center">
			<div class="kpi-status-bg low">				
				<p>112</p>
			</div>
			<p class="legend-transcript">низком уровне</p>
		</div>
		<div class="d-flex align-items-center">
			<div class="kpi-status-bg high">
				<p>105</p>
			</div>
			<p class="legend-transcript">высоком уровне</p>
		</div>
		<div class="d-flex align-items-center">
			<div class="kpi-status-bg critical">
				<p>27</p>
			</div>
			<p class="legend-transcript">критичном уровне</p>
		</div>
	</section>	
</div>
