@using GPNA.AlarmControlSystem.Models.Dto.Workstation
<div class="back-alarm-table-container">
    <table class="back-alarm-table">
        <thead>
        <tr>
            <th></th>
            @if (ExpiredAlarmsCount != null)
            {
                foreach (var wsId in ExpiredAlarmsCount.Keys)
                {
                    <th>@(WorkStations?.FirstOrDefault(c => c.Id == wsId)?.Name)</th>
                }
            }
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>Просроченные<br/> активные<br/> сигнализации</td>
            <td>
                <StatComponent></StatComponent>
            </td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>Просроченные<br/> имитационные<br/> параметры</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>Просроченные<br/> подавленные<br/> сигнализации</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        </tbody>
    </table>
</div>

@code {

    [Parameter]
    Dictionary<int, Dictionary<DateTimeOffset, int>>? ExpiredAlarmsCount { get; set; }

    [Parameter]
    WorkStationDto[]? WorkStations { get; set; }

}