<div class="d-flex align-items-center justify-content-between flex-column">
    <p class="alarm-active-title">Сработала сигнализация</p>
    <div class="alarm-active-container">
        <div class="alarm-active-unit">
            <p>Пожар</p>
            <svg>
                <use href="/img/icons/icons.svg#fire"></use>
            </svg>
        </div>
        <div class="alarm-active-unit">
            <p>Загазованность</p>
            <svg>
                <use href="/img/icons/icons.svg#gas"></use>
            </svg>
        </div>
    </div>
</div>

@code {

}