<div class="pie-chart">
    <p>@Title <b>@DateTime.Now.ToString("dd MMMM")</b></p>
    <div class="d-flex">
        <div class="pie-chart-diagram">

        </div>

        <div class="d-flex flex-column justify-content-between">
            <div class="pie-chart-stat">
                <div class="d-flex align-items-center">
                    <div class="pie-chart-stat-priority low"></div>
                    <p>Низкий</p>
                </div>
                <p>145</p>
            </div>
            <div class="pie-chart-stat">
                <div class="d-flex align-items-center">
                    <div class="pie-chart-stat-priority high"></div>
                    <p>Высокий</p>
                </div>
                <p>145</p>
            </div>
            <div class="pie-chart-stat">
                <div class="d-flex align-items-center">
                    <div class="pie-chart-stat-priority critical"></div>
                    <p>Критичный</p>
                </div>
                <p>145</p>
            </div>
        </div>
    </div>
</div>

@code {
    [Parameter] public DateTime DateTime { get; set; }
    [Parameter] public string? Title { get; set; }

}