@using GPNA.AlarmControlSystem.Shared.Main

<div class="main-alarm">
    <div class="main-alarm-active-container">
        <p>@Title</p>
        <AlarmActive/>
    </div>
    <AlarmPieChart Title="Общее количество за"/>
    <AlarmPieChart Title="Уникальные"/>
    
    <div class="main-alarm-table-container">
        <AlarmTable VisibleTablePriority="true" Title="ВХОДЯЩИЕ СИГНАЛИЗАЦИИ"/>
        <AlarmTable Title="АКТИВНЫЕ СИГНАЛИЗАЦИИ"/>
        <AlarmTable Title="ПОДАВЛЕННЫЕ СИГНАЛИЗАЦИ"/>
    </div>
</div>

@code {
    [Parameter] public string? Title { get; set; }

}
