<button class="button-navigation">
    @if (Navigation == "left")
    {
        <svg>
            <use href="/img/icons/icons.svg#arrow-@Navigation"></use>
        </svg>
        <p>@Title</p>
    }
    else
    {
        <p>@Title</p>
        <svg>
            <use href="/img/icons/icons.svg#arrow-@Navigation"></use>
        </svg>
    }
</button>

@code {
    [Parameter] public string? Navigation { get; set; }
    [Parameter] public string? Title { get; set; }
}