@page "/Arm/{armId:int}"
@using System.Text.Json;
@using GPNA.AlarmControlSystem.Pages.Monitoring.Tables
@using LocalDbStorage.Repositories.Models

<CascadingValue Name="From" Value="@From">
<CascadingValue Name="To" Value="@To">
<div style="display:flex; margin-left:300px;">
    <h3>@Title</h3>
    <div class="choice-group">
        <select @bind="@AlarmType">        
            <option value="Входящие">Входящие</option>
            <option value="Активные">Активные</option>
            <option value="Подавленные">Подавленные</option>
        </select>
        @if (AlarmType == "Входящие")
        {           
            <a style="margin-left:20px;">C :</a>
            <input  type="datetime-local" @bind="From" >
            <a>По :</a>
            <input  type="datetime-local" @bind="To" >
        }    
    </div>
</div>

<div class="table-responsive" style="margin-top:10px;height:780px;overflow-y:auto;border-top: 0.5px solid rgba(0, 65, 102, 0.2);border-bottom: 0.5px solid rgba(0, 65, 102, 0.2);">
    <table class="table table-striped table-bordered">
        @if (AlarmType == "Входящие")
        {
           <IncomingAlarms />
        }

        @if (AlarmType == "Активные")
        {
            <ActiveAlarms/>
        }

        @if (AlarmType == "Подавленные")
        {
            <SuppressedAlarms/>
        }
        
    </table>
</div>
</CascadingValue>
</CascadingValue>


@code {
    [Parameter] public int ArmId { get; set; }
    [Parameter] public string? Title { get; set; }


    [CascadingParameter(Name = "From")] public DateTime From { get; set; }
    [CascadingParameter(Name = "To")] public DateTime To { get; set; }

    string? AlarmType = "Входящие";    
    string? Priority = "0";

    void SelectPriority()
    {

    }

    protected override void OnInitialized()
    {
        To = DateTime.Now;
        if (To.Hour > 7 &&  To.Hour < 20)
        {
            From = new DateTime(To.Year , To.Month, To.Day, 8,0,0);
        }
        else if (To.Hour >= 20)
        {
            From = new DateTime(To.Year , To.Month, To.Day, 20,0,0);
        }
        else
        {
            From = new DateTime(To.Year , To.Month, To.Day-1, 20,0,0);
        }
    }

    protected override void OnParametersSet()
    {
        switch (ArmId)
        {
            case 1:
                Title = "УПНГ";                
                break;
            case 2:
                Title = "БМУПН";
                break;
            case 3:
                Title = "Скважины";
                break;
            case 4:
                Title = "АРМ 4";
                break;

        }
    }
}