
.header {
    display: flex;
    height: 50px;
    width: auto;
    left: 0;
    right: 0;
    top: 0px;
    box-shadow: 0px 2px 6px 0px rgba(166, 166, 166, 0.25);
}

.logo{
    display: flex;
    padding: 3px 0 7px 20px;
    align-items: flex-end;
}

.logo-img {
    margin-right: 25px;
    background-image: url(img/logo.svg);
    height: 40px;
    width: 84px;
}

.logo-title {
    color: #006FBA;
    font-family: DINPro;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 18px;
}

.top-menu {
    display: inline-flex;
    align-items: flex-start;
    gap: 35px;
    list-style: none;
    margin: 0;
    margin-left: 93px;
    padding-top: 15px;
    margin-block-start: 0;
    margin-block-end: 0;
    padding-inline-start:0;
}



.sub-menu {
    display: none;
    position: absolute;
    top: 49px;
    border: 1px solid var(--color-bg-border);
    align-items: center;
    background-color: var(--color-bg-default);
    list-style:none;
    padding:0 12px;
}

.top-menu_item:hover .sub-menu {
    display: flex;
    gap: 16px;
    margin:0;
}

.sub-menu_item {
    display: flex;
    height: 40px;
    line-height: 40px;
}

.header-right-side{
    margin: auto 20px auto auto;
}