@page "/settings/permissions"
@using GPNA.AlarmControlSystem.Pages.Settings.Permissions.Components
@using GPNA.AlarmControlSystem.Shared.ButtonsModal
@inject IJSRuntime JsRuntime


<div class="page-main">
    <div class="page-header justify-content-center">
        <div class="d-flex align-items-center">
            <p>
                Настройка ответственных @*<b>@FieldName</b>*@
            </p>
            @*<SelectObject LinksDictionary="FieldLinksDictionary"/>

            <p class="ms-2">
                ЦЕХА <b>@WorkstationName</b>
            </p>
            <SelectObject LinksDictionary="WorkstationLinksDictionary"/>*@
        </div>
    </div>
    <section class="setting-admin-dg">

    </section>
    <UserRermissionTable></UserRermissionTable>

    <div class="settings-container">

        <div class="settings-bg">            
            <p class="settings-title">Права доступа. Коментарии</p>                
            
            <UserPermissionsItem Title="Технолог (промысел)" Enabled="_enabledComments" />
            <UserPermissionsItem Title="Технолог (офис)" Enabled="_enabledComments" />
            <UserPermissionsItem Title="Инженер АСУ ТП (промысел)" Enabled="_enabledComments" />
            <UserPermissionsItem Title="Инженер АСУ ТП (офис)" Enabled="_enabledComments" />
            <UserPermissionsItem Title="Начальник смены" Enabled="_enabledComments" />
            <UserPermissionsItem Title="Начальник цеха" Enabled="_enabledComments" />

			<div class="settings-buttons-container">
                @if (_editCommentsButtonShow)
                {
                    <EditButton ClickEvent="EditComments" />
                }
                else
                {
                    <SaveButton ClickEvent="SaveEditComments" />
                    <CancelButton ClickEvent="CancelEditComments" />
                }
			</div>
            
        </div>

        <div class="settings-bg">           
            <p class="settings-title">Права доступа. Задачи</p>
                
            <UserPermissionsItem Title="Технолог (промысел)" Enabled="_enabledTasks" />
            <UserPermissionsItem Title="Технолог (офис)" Enabled="_enabledTasks" />
            <UserPermissionsItem Title="Инженер АСУ ТП (промысел)" Enabled="_enabledTasks" />
            <UserPermissionsItem Title="Инженер АСУ ТП (офис)" Enabled="_enabledTasks" />
            <UserPermissionsItem Title="Начальник смены" Enabled="_enabledTasks" />
            <UserPermissionsItem Title="Начальник цеха" Enabled="_enabledTasks" />

            <div class="settings-buttons-container">
                @if (_editTasksButtonShow)
                {
                    <EditButton ClickEvent="EditTasks" />  
                }
                else
                {
                    <SaveButton ClickEvent="SaveEditTasks" />
                    <CancelButton ClickEvent="CancelEditTasks" />
                }
            </div>

        </div>

    </div>
</div>

@code {
    
    private bool _editCommentsButtonShow = true;
    private bool _editTasksButtonShow = true;
    
    private bool _enabledComments;
    private bool _enabledTasks;

    void EditComments()
    {
        _editCommentsButtonShow = !_editCommentsButtonShow;        
        _enabledComments = true;
    }

    void CancelEditComments()
    {
        _editCommentsButtonShow = !_editCommentsButtonShow;
        _enabledComments = false;
    }

    void SaveEditComments()
    {
        _editCommentsButtonShow = !_editCommentsButtonShow;
        _enabledComments = false;
    }

    void EditTasks()
    {
        _editTasksButtonShow = !_editTasksButtonShow;
        _enabledTasks = true;
    }

    void CancelEditTasks()
    {
        _editTasksButtonShow = !_editTasksButtonShow;
        _enabledTasks = false;
    }

    void SaveEditTasks()
    {
        _editTasksButtonShow = !_editTasksButtonShow;
        _enabledTasks = false;
    }
}