@page "/settings/permissions"
@using GPNA.AlarmControlSystem.Pages.Settings.Permissions.Components
@using GPNA.AlarmControlSystem.Shared.ButtonsModal
@inject IJSRuntime JsRuntime


<div class="page-main">
    <div class="page-header justify-content-center">
        <div class="d-flex align-items-center">
            <p>
                Настройка ответственных @*<b>@FieldName</b>*@
            </p>
            @*<SelectObject LinksDictionary="FieldLinksDictionary"/>

            <p class="ms-2">
                ЦЕХА <b>@WorkstationName</b>
            </p>
            <SelectObject LinksDictionary="WorkstationLinksDictionary"/>*@
        </div>
    </div>
    <table>
        <caption class="table-title">АДМИНИСТРАТОР (СУПЕРПОЛЬЗОВАТЕЛЬ)</caption>
        <thead>
        <tr class="table-head-line">
            <th class="table-head-user"><p>Должность</p></th>
    		
            <th class="table-head-user"><p>ФИО</p></th>
    		
            <th class="table-head-user"><p>Почта</p></th>
    		
            <th class="table-head-access"><p>Комментарии<br />мониторинг</p></th>
    		
            <th class="table-head-access"><p>Задачи</p></th>
    		
            <th class="table-head-access"><p>Таблица переменных</p></th>
    		
            <th class="table-head-access"><p>Изменние KPI</p></th>
    		
            <th class="table-head-access"><p>Комментарии журнал<br />изменений АСУ ТП</p></th>
    		
            <th class="table-head-access"><p>Назначать<br />ответственных</p></th>
        </tr>
        </thead>
        <tbody>
        <UserPermissionsLine Enabled="_enabledComments"/>
        @if(_enabledComments)
        {
            <tr>
                <td colspan="9">
                    <SettingsAddButton/>
                </td>
            </tr>
        }
        </tbody>
    </table>
    <table>
        <caption class="table-title">пользователи системы</caption>
        <thead>
        <tr class="table-head-line">
            <th class="table-head-user"><p>Должность</p></th>
        		
            <th class="table-head-user"><p>ФИО</p></th>
        		
            <th class="table-head-user"><p>Почта</p></th>
        		
            <th class="table-head-access"><p>Комментарии<br />мониторинг</p></th>
        		
            <th class="table-head-access"><p>Задачи</p></th>
        		
            <th class="table-head-access"><p>Таблица переменных</p></th>
        		
            <th class="table-head-access"><p>Изменние KPI</p></th>
        		
            <th class="table-head-access"><p>Комментарии журнал<br />изменений АСУ ТП</p></th>
        		
            <th class="table-head-access"><p>Назначать<br />ответственных</p></th>
        </tr>
        </thead>
        <tbody>
        <UserPermissionsLine Enabled="_enabledComments"/>
        @if(_enabledComments)
        {
            <tr>
                <td colspan="9">
                    <SettingsAddButton/>
                </td>
            </tr>
        }
        </tbody>
    </table>
    <div class="settings-buttons-container">
        @if (_editCommentsButtonShow)
        {
            <EditButton ClickEvent="EditComments" />
        }
        else
        {
            <SaveButton ClickEvent="SaveEditComments" />
            <CancelButton ClickEvent="CancelEditComments" />
        }
    </div>
    
    
</div>

@code {
    
    private bool _editCommentsButtonShow = true;
    private bool _editTasksButtonShow = true;
    
    private bool _enabledComments;
    private bool _enabledTasks;

    void EditComments()
    {
        _editCommentsButtonShow = !_editCommentsButtonShow;        
        _enabledComments = true;
    }

    void CancelEditComments()
    {
        _editCommentsButtonShow = !_editCommentsButtonShow;
        _enabledComments = false;
    }

    void SaveEditComments()
    {
        _editCommentsButtonShow = !_editCommentsButtonShow;
        _enabledComments = false;
    }

    void EditTasks()
    {
        _editTasksButtonShow = !_editTasksButtonShow;
        _enabledTasks = true;
    }

    void CancelEditTasks()
    {
        _editTasksButtonShow = !_editTasksButtonShow;
        _enabledTasks = false;
    }

    void SaveEditTasks()
    {
        _editTasksButtonShow = !_editTasksButtonShow;
        _enabledTasks = false;
    }
}