@using GPNA.AlarmControlSystem.Models.Enums
@using GPNA.AlarmControlSystem.Extensions
@inject NavigationManager NavigationManager

@if (IsActive)
{
    <div class="tabs-item tabs-item-active">
        <p class="tabs-title tabs-title-active">
            @Title
        </p>
    </div>
}
else
{
    <div class="tabs-item" @onclick="Click">
        <p class="tabs-title">
            @Title
        </p>
        @if (Count.HasValue)
        {
            <span class="tabs-item-count">@Count</span>
        }
    </div>
}

@code {
    [Parameter] public string? Title { get; set; }
    [Parameter] public int? Count { get; set; }
    [Parameter] public bool IsActive { get; set; }
    [Parameter] public string Href { get; set; } = string.Empty;

    void Click()
    {
        NavigationManager.NavigateTo(Href);
    }
}