@using GPNA.AlarmControlSystem.Data.AlarmControlSystem
@inherits LayoutComponentBase
@inject IUiRestService UiRestService 

<div class="page @theme">
    <header>        
        <span class="logo @theme"></span>
        <span class="app-name">СУС</span>

        <ul class="top-menu">
            <li class="top-menu_item">
                <NavLink class="top-menu_link" href="" Match="NavLinkMatch.All">
                    Мониторинг Аварий
                </NavLink>
            </li>
            <li class="top-menu_item">
                <NavLink class="top-menu_link" href="reports">
                    Отчеты
                </NavLink>
            </li>
            <li class="top-menu_item">
                <NavLink class="top-menu_link" href="tagtable">
                    Таблица переменных
                </NavLink>
            </li>
        </ul>

        <div class="header-right-side">
            <span @onclick="ChangeTheme"  class="theme-toggler @theme"></span>
            
            <LoginDisplay />
        </div>
    </header>

    <div class="main">
        <div class="top-row px-4 auth">
            

        </div>

        <div class="content px-4">
            @Body
        </div>
    </div>
</div>


@code {

    bool darkTheme = false;
    string theme = "light-theme";

    void ChangeTheme()
    {
        darkTheme = !darkTheme;
        if (darkTheme == true)
        {
            theme = "dark-theme";
        }
        else
        {
            theme = "light-theme";
        }
    }

}