@using Blazored.Toast.Configuration
@using Blazored.Toast.Services
@using IAuthorizationService = GPNA.AlarmControlSystem.Interfaces.IAuthorizationService
@using GPNA.AlarmControlSystem.Shared.NavMenu
@inherits LayoutComponentBase

@inject NavigationManager NavigationManager

<BlazoredToasts Position="ToastPosition.BottomRight"
                Timeout="10"
                IconType="IconType.FontAwesome"
                SuccessClass="success-toast-override"
                SuccessIcon="fa fa-thumbs-up"
                ErrorIcon="fa fa-bug"/>

<Spinner/>

<div class="page">
    <NavMenu ActivePageName="@_activePageName"/>
    <div class="main">
        <div class="top-row px-4 auth">


        </div>

        <div class="content px-3 py-2">
            @Body
            <div id="snackbar">Комментарий сохранен</div>
        </div>
    </div>
</div>


@code {
    private string _activePageName = string.Empty;
    
    protected override void OnParametersSet()
    {
        var uri = new Uri(NavigationManager.Uri);
        _activePageName = uri.AbsolutePath;
    }
}