@using Blazored.Toast.Configuration
@using Blazored.Toast.Services
@using IAuthorizationService = GPNA.AlarmControlSystem.Interfaces.IAuthorizationService
@using GPNA.AlarmControlSystem.Shared.NavMenu
@inherits LayoutComponentBase

@inject IAuthorizationService AuthorizationService
@inject IToastService ToastService

<BlazoredToasts Position="ToastPosition.BottomRight"
                Timeout="10"
                IconType="IconType.FontAwesome"
                SuccessClass="success-toast-override"
                SuccessIcon="fa fa-thumbs-up"
                ErrorIcon="fa fa-bug"/>

<Spinner/>

<div class="page">
    <NavMenu/>
    <div class="main">
        <div class="top-row px-4 auth">


        </div>

        <div class="content px-3 py-2">
            @Body
            <div id="snackbar">Комментарий сохранен</div>
        </div>
    </div>
</div>


@code {
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (!await AuthorizationService.GetAuthorizationStatus())
        {
            ToastService.ShowError("Не удалось авторизоваться на сервере");
        }
    }
}