<div class="select-dto">
    <button class="select-dto-button">
        <svg height="20" width="20">
            <use href="/img/icons/icons.svg#select"></use>
        </svg>
    </button>
    <div class="select-dto-content">
        @if (LinksDictionary != null)
        {
            foreach (var link in LinksDictionary)
            {
                <a href="@link.Value">@link.Key</a>
            }
        }
    </div>
</div>

@code {
    [Parameter] public string? Object { get; set; }
    [Parameter] public IDictionary<string, string>? LinksDictionary { get; set; }
}