.button-modal {
    border-radius: 6px;
    border: none;
    width: 135px;
    height: 38px;
    display: flex;
    align-items: center;
    justify-content: center;
}    

.button-modal svg {
    width: 15px;
    height: 12px;
}

.button-modal p {
    font-weight: 400;
    font-size: 12px;
    margin-left: 13px;
    margin-top: 1px;
}

    .button-modal.edit p {
        margin-left: 8px;
        margin-right: 2px;
    }

    .button-modal.not-send p {
        margin-left: 9px;
    }

    .button-modal.return p, .button-modal.delete.cancel-change-tag p {
        margin-left: 0;
    }

    .button-modal.save, .button-modal.send {
        background: #DDF1FC;
    }

    .button-modal.save:hover, .button-modal.send:hover {
        background: #D0EDFD;
    }

    .button-modal.cancel, .button-modal.not-send, .button-modal.return {
        background: #F0F2F3;
    }

    .button-modal.cancel:hover, .button-modal.cancel.delete:hover, .button-modal.not-send:hover, 
    .button-modal.send-tag-journal:hover, .button-modal.return:hover {
        background: #E8E8E8;
    }

    .button-modal.cancel.delete {
        background: #FFFFFF;
    }

    .button-modal.delete {
        background: #E25757;
    }

    .button-modal.delete:hover {
        background: #D75353;
    }

    .button-modal.delete.cancel-change-tag {
        background: #FCEEEE;
    }
    .button-modal.delete.cancel-change-tag:hover {
        background: #FFDADA;
    }

.button-modal-container {
    position: absolute;
    top: 10px;
    right: 15px;
    padding: 0;
}

.button-modal.close {
    border: none;
    background: none;
    padding: 0;
    font: inherit;
    color: inherit;
    background-color: transparent;
    cursor: pointer;
    display: block;
    width: 10px;
    height: 10px;
}

.button-modal.close svg {
    width: 8px;
    height: 8px;
}

.button-modal.send-tag-journal {
    width: 308px;
    background: #F0F2F3;
}

    .button-modal.send-tag-journal svg {
        width: 15px;
        height: 16px;
    }


