@import url('open-iconic/font/css/open-iconic-bootstrap.min.css');
@import url('open-iconic/font/css/inter.css');
@import url('ButtonModals.css');
@import url('TagTableModals.css');

:root {
    --color-bg-caution: #F2C94C;
    --color-bg-warning: #F38B01;
    --color-bg-alert: #EB5757;
    --color-bg-normal: #0BA5FF;
    --color-typo-primary-white: #FAFAFA;
    --white: #FFFFFF;
    --bg-blue: #1C7B99;
    --bg-orange: #F2994A;
    --bg-red: #EB5757;
    --bg-grey: rgba(0, 32, 51, 0.3);
    --bg-grey-table: #F0F2F3;
    --bg-purple: #BA8FDB;
    --bg-grey-status: #ABC2CF;
    --bg-blue-status: #0078D2;
    --bg-black: #002033;
    --bg-light-blue: #BCE1FB;
    --bg-light-orange: rgba(242, 153, 74, 0.25);
    --bg-light-red: rgba(235, 87, 87, 0.2);
    --bg-lighter-red: rgba(235, 87, 87, 0.15);
    --bg-light-grey: rgba(0, 32, 51, 0.05);
    --bg-light-green: #EFFFEF;
    --border-orange: #F2994A;
    --border-red: #EB5757;
    --border-main-grey: #E5E5E5;
    --border-grey: rgba(0, 32, 51, 0.15);
    --border-grey-table: rgba(0, 65, 102, 0.2);
    --border-grey-table-status: #8199A7;
    --border--light-grey-table: rgba(0, 32, 51, 0.15);
    --border-light-grey: rgba(0, 32, 51, 0.5);
    --border-calendar-light-grey: rgba(0, 32, 51, 0.35);
    --border-lighter-grey: rgba(0, 32, 51, 0.2);
    --border-purple: #BA8FDB;
    --border-black: #002033;
    --border-grey-status: #ABC2CF;
    --border-blue-status: #0078D2;
    --shadow-grey: rgba(0, 32, 51, 0.2);
    --shadow-grey-table: rgba(0, 32, 51, 0.12);
    --text-blue: #1C7B99;
    --text-orange: #F2994A;
    --text-red: #EB5757;
    --text-purple: #BA8FDB;
    --text-grey: rgba(0, 32, 51, 0.7);
    --text-light-grey: rgba(0, 32, 51, 0.5);
    --text-calendar-light-grey: rgba(0, 32, 51, 0.92);
    --text-lighter-grey: rgba(0, 32, 51, 0.2);
    --text-blue-status: #0078D2;
    --text-grey-status: #ABC2CF;
    --text-black: #002033;
    --text-button-navigation-grey: #96A5AE;
    --text-grey-table-status: #8199A7;
    --text-green: #22C38E;
}

.page.light-theme {
    --color-bg-default: #FFFFFF;
    --color-bg-secondary: #0078D2;
    --color-bg-link: #0078D2;
    --color-bg-brand: #0071B2;
    --color-bg-success: #22C38E;
    --color-bg-system: #DEE4E8;
    --color-bg-stripe: rgba(0, 32, 51, 0.05);
    --color-bg-tone: rgba(0, 32, 51, 0.85);
    --color-bg-soft: rgba(255, 255, 255, 0.9);
    --color-bg-border: rgba(0, 65, 102, 0.2);
    --color-bg-ghost: rgba(0, 32, 51, 0.08);
    --color-nums-shadow: #002033;
    --color-typo-primary: #002033;
    --color-typo-secondary: rgba(0, 32, 51, 0.6);
    --color-typo-link: #0078D2;
    --color-typo-link-hover: #0078D2;
}

.page.dark-theme {
    --color-bg-default: #22272B;
    --color-bg-secondary: #161A1D;
    --color-bg-link: #0078D2;
    --color-bg-brand: #0071B2;
    --color-bg-success: #0BA5FF;
    --color-bg-system: #4D525B;
    --color-bg-stripe: rgba(246, 251, 253, 0.06);
    --color-bg-tone: rgba(12, 17, 19, 0.85);
    --color-bg-soft: rgba(255, 255, 255, 0.9);
    --color-bg-border: rgba(255, 255, 255, 0.2);
    --color-bg-ghost: rgba(246, 251, 253, 0.1);
    --color-nums-shadow: #000000;
    --color-typo-primary: #FAFAFA;    
    --color-typo-secondary: rgba(255, 255, 255, 0.6);
    --color-typo-link: #0F9FFF;
    --color-typo-link-hover: #6FA5C8;
}

.page .dark-theme {
    color: var(--color-typo-primary);
}

html, body {
    /*font-family: "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";*/
    font-family: Inter, sans-serif;
}

a, .btn-link {
    color: #0366d6;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.content {
    padding-top: 1.1rem;
    min-height: 50vh;
}

.valid.modified:not([type=checkbox]) {
    outline: 1px solid #26b050;
}

.invalid {
    outline: 1px solid red;
}

.validation-message {
    color: red;
}

h3{
    color:var(--color-typo-primary);
}
h4 {
    color: var(--color-typo-primary);
}

#blazor-error-ui {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

    #blazor-error-ui .dismiss {
        cursor: pointer;
        position: absolute;
        right: 0.75rem;
        top: 0.5rem;
    }

/*Index styles*/

.choice-group {
    display: flex;
    flex-direction: row;
    margin: 0 0 0px 16px;
    gap: 16px;    
    align-items:center;
}

/*�������*/

.table {
    background-color: var(--color-bg-default);
    color: var(--color-typo-primary);
    table-layout: fixed;
}

.thead-light th {
    position: sticky;
    top: -3px;
    background-color: #fff;
    background-color: var(--color-bg-default);
    color: var(--color-typo-primary);
}

.table-striped tr {
    color: inherit;
}

.item-table td {
    color: inherit;
}

.item-table:hover {
    color: var(--color-typo-link-hover);
}

.item-table__count {
    text-align: right;
}

    .item-table__count:hover {
        background-color: rgba(0, 32, 51, 0.05);
    }

.item-table__checkbox {
    text-align: center;
}
    .item-table__checkbox:hover {
        background-color: rgba(0, 32, 51, 0.05);
    }

.item-table__checkbox-input {
    cursor:pointer;
}

.table-bordered {
    border: 1px solid var(--color-bg-border);
}



.item-table.item-table--alert td, td.item-table--alert, item-table--alert td, item-table--alert tr {
    background-color: var(--color-bg-alert);
    color: var(--color-typo-primary-white);
}

.item-table.item-table--warning td, td.item-table--warning, item-table--warning td, item-table--warning tr {
    background-color: var(--color-bg-warning);
    color: var(--color-typo-primary-white);
}

.item-table.item-table--normal td, td.item-table--normal, item-table--normal td, item-table--normal tr {
    background-color: var(--color-bg-normal);
    color: var(--color-typo-primary-white);
}

/*�������*/
.stat-box {
    display: flex;
    width: 140px;
    height: 90px;
    flex-direction: column;
    align-items: center;
    padding: 16px 4px;
    background: var(--color-bg-default);
    box-shadow: 0px 5px 8px rgba(0, 32, 51, 0.2);
    border-radius: 8px;
}


.stat-box__numbers{
    display:flex;
    align-items:center;
}
    .stat-box__numbers span:first-child {
        font-weight: 700;
        font-size: 24px;
        line-height: 140%;
        color: var(--color-typo-primary);
    }

    .stat-box__numbers span:last-child {
        margin-left: 8px;
        border: 1px solid #09B37B;
        border-radius: 4px;
        padding: 0px 5px;
        font-weight: 400;
        font-size: 12px;
        line-height: 20px;
    }

.stat-box__desc {
    font-weight: 400;
    font-size: 12px;
    line-height: 120%;
    color: var(--color-typo-secondary);
    text-align: center;
}


/*Blazored Modal*/

.simple-form {
}

.blazored-modal {
    color: #495057;
    padding: 20px 0 0 0 !important;
}

.modal-2 {
    min-width: 600px;
    max-width: 80vh;
    min-height: 50vh;
    max-height: 90vh;
    background: white;
    display: flex;
    flex-direction: column;
    padding: 20px;
    margin: 5px auto;
    overflow-y:auto;
}

.modal-delete {
    min-width: 600px;
    max-width: 80vh;
    min-width: 200px;
    background: white;
    display: flex;
    flex-direction: column;
    padding: 20px;
    margin: 70px auto;
}

.blazored-modal-header {
    align-items: center !important;
    padding: 0 20px 20px 20px !important;
}

.blazored-modal-content {
    overflow-y: auto;
    padding: 0 20px 20px 20px;
}

.blazored-modal-title {
    font-weight: 600;
    font-size: 1.25rem;
}

.form-group {
    margin-bottom: 16px;
    width: 100%;
}

.modal-button-group {
    display: flex;
    justify-content: center;
    align-items: center;
}

    .modal-button-group > button {
        margin: 0 10px;
    }


/* Icons */

.icons-button {
    position: relative;
    display: inline-block;
    width: 24px;
    height: 24px;
    background-color: white;
    border-radius: 50%;
    border: 1px solid grey;
    padding: 4px;
    cursor: pointer;
}

.icons-button-tooltip {
    visibility: hidden;
    position: absolute;
    bottom: 4px;
    right: 125%;
    background-color: #363636;
    color: #fff;
    text-align: center;
    padding: 5px 10px;
    border-radius: 6px;
    font-weight: 100;
    z-index:2;
}

    .icons-button-tooltip::after {
        content: "";
        position: absolute;
        top: 40%;
        right: 0%;
        margin-right: 0;
        border: 6px solid transparent;
        border-right: 7px solid #363636;
    }

.icons-button:hover .icons-button-tooltip {
    visibility: visible;
}


/*page Index*/
p {
    margin: 0;
    font-weight: 400;
}

.page-main {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.page-header {
    display: flex;
    justify-content: space-between;
    /*padding-bottom: 10px;*/
    align-content: center;
    white-space: nowrap;
    gap: 10px;
    margin-top: 5px;
}
    .page-header > p, .page-header > div p {
        text-transform: uppercase;
        font-weight: 400;
    }
    
.page-title{
    position: absolute;
    display: flex;
    width: -webkit-fill-available;
    justify-content: center;
}

.date-period-select input {
    /*border: 1px solid var(--border-calendar-light-grey);
    height: 24px;*/
    opacity: 75%;
    z-index: 2;
    display: flex;
    position: relative;
}
.date-period-select div {
    position: relative;
}
    .date-period-select div svg {
        position: absolute;
        top: 7px;
        right: 7px;
        width: 13px;
        height: 13px;
        z-index: 1;
    }
    .date-period-select div input {
        border: 1px solid var(--border-calendar-light-grey);
        height: 24px;
        color: var(--text-calendar-light-grey);
        font-weight: 400;
        font-size: 12px;
        padding-left: 7px;
    }
    .date-period-select div:first-child input {
        border-top-left-radius: 4px;
        border-bottom-left-radius: 4px;
        border-right:none;
    }
    .date-period-select div:last-child input {
        border-top-right-radius: 4px;
        border-bottom-right-radius: 4px;
    }
    .date-period-select div:focus-visible input {
        outline: none;
    }

.tagname-filter input {
    position: relative;
    height: 24px;
    min-width: 225px;
    border: 1px solid rgba(0, 66, 105, 0.28);
    border-radius: 4px;
    padding: 0 25px 0 5px;
    font-size: 12px;
}

.tagname-filter:after{
    content: "";
    position: relative;
    right: 20px;
   /* top: 40%;*/
    bottom: 0;
    width: 13px;
    background: url("/img/icons/icon-search.svg") center / contain no-repeat;
    height: 13px;
}

@-moz-keyframes spin {
    100% { -moz-transform: rotate(-360deg); }
}
@-webkit-keyframes spin {
    100% { -webkit-transform: rotate(-360deg); }
}
@keyframes spin {
    100% {
        -webkit-transform: rotate(-360deg);
        transform:rotate(-360deg);
    }
}

::-webkit-calendar-picker-indicator {
    /*filter: invert(1);*/
    z-index: 2;
    opacity: 0;
}

::-webkit-scrollbar {
    width: 10px;
    height: 10px;
    transition: .3s;
}

::-webkit-scrollbar-track {
    background-color: #e4e4e4;
}

::-webkit-scrollbar-thumb {
    background-color: rgb(0 32 51 / 30%);
    border-radius: 10px;
}

.priority-alarm-container {
    display: flex;
    gap: 8px;
}

.date-period-select .btn#button-refresh {
    width: 25px;
    height: 25px;
}

    .date-period-select .btn#button-refresh.active {
        -webkit-animation: spin 1.5s linear infinite;
        -moz-animation: spin 1.5s linear infinite;
        animation: spin 1.5s linear infinite;
    }