@import url('open-iconic/font/css/open-iconic-bootstrap.min.css');
:root {
    --color-bg-caution: #F2C94C;
    --color-bg-warning: #F38B00;
    --color-bg-alert: #EB5757;
}

.page.light-theme {
    --color-bg-default: #FFFFFF;
    --color-bg-secondary: #0078D2;
    --color-bg-link: #0078D2;
    --color-bg-brand: #0071B2;
    --color-bg-normal: #22C38E;
    --color-bg-system: #DEE4E8;
    --color-bg-stripe: rgba(0, 32, 51, 0.05);
    --color-bg-tone: rgba(0, 32, 51, 0.85);
    --color-bg-soft: rgba(255, 255, 255, 0.9);
    --color-bg-border: rgba(0, 65, 102, 0.2);
    --color-bg-ghost: rgba(0, 32, 51, 0.08);
    --color-nums-shadow: #002033;
    --color-typo-primary: #002033;
    --color-typo-secondary: rgba(0, 32, 51, 0.6);
    --color-typo-link: #0078D2;
    --color-typo-link-hover: #0078D2;
}

.page.dark-theme {
    --color-bg-default: #22272B;
    --color-bg-secondary: #161A1D;
    --color-bg-link: #0078D2;
    --color-bg-brand: #0071B2;
    --color-bg-normal: #0BA5FF;
    --color-bg-system: #4D525B;
    --color-bg-stripe: rgba(246, 251, 253, 0.06);
    --color-bg-tone: rgba(12, 17, 19, 0.85);
    --color-bg-soft: rgba(255, 255, 255, 0.9);
    --color-bg-border: rgba(255, 255, 255, 0.2);
    --color-bg-ghost: rgba(246, 251, 253, 0.1);
    --color-nums-shadow: #000000;
    --color-typo-primary: #FAFAFA;
    --color-typo-secondary: rgba(255, 255, 255, 0.6);
    --color-typo-link: #0F9FFF;
    --color-typo-link-hover: #6FA5C8;
}



html, body {
    font-family: "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

a, .btn-link {
    color: #0366d6;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.content {
    padding-top: 1.1rem;
}

.valid.modified:not([type=checkbox]) {
    outline: 1px solid #26b050;
}

.invalid {
    outline: 1px solid red;
}

.validation-message {
    color: red;
}

#blazor-error-ui {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

    #blazor-error-ui .dismiss {
        cursor: pointer;
        position: absolute;
        right: 0.75rem;
        top: 0.5rem;
    }

    /*Index styles*/

.choice-group {
    display: flex;
    flex-direction: row;
    margin-bottom: 16px;
    gap: 16px;
}






.top-menu_link {
    color: var(--color-typo-secondary);
    text-decoration: none;
}

    .top-menu_link:hover {
        color: var(--color-typo-link-hover);
    }

    .top-menu_link.active {
        color: var(--color-typo-primary);
        border-bottom: 2px solid var(--color-typo-link);
    }

.login-display {
}

.login-display__initials {
    display:inline-flex;
    height: 32px;
    width: 32px;
    background-image: url(../img/avatar.svg);
    border-radius: 16px;
    justify-content: center;
    align-items: center;
    color:#FFFFFF;
    font-weight:600;
}
.login-display__username {
    margin-left: 6px;
    color: var(--color-typo-primary);
    line-height: 30px;
}


.thead-light {
    background-color: var(--color-bg-default);
    color: var(--color-typo-primary);
}

.item-table td{
    color: var(--color-typo-primary);
}

.table-bordered {
    border: 1px solid var(--color-bg-border);
}