@page "/settings/permissions"
@using GPNA.AlarmControlSystem.Pages.Settings.KPI.Components
@inject IJSRuntime JsRuntime


<div class="page-main">
    <div class="page-header justify-content-center">
        <div class="d-flex align-items-center">
            <p>
                Настройка ответственных <b>@FieldName</b> М/Р
            </p>
            <SelectObject LinksDictionary="FieldLinksDictionary"/>

            <p>
                ЦЕХА <b>@WorkstationName</b>
            </p>
            <SelectObject LinksDictionary="WorkstationLinksDictionary"/>
        </div>
    </div>

    <div class="settings-container flex-row">
        <div class="bg">
            <div class="d-flex align-items-center">
                <p class="title">Права доступа. Коментарии</p>
                <div class="btn-group">
                    <button class="btn p-0 ms-2 d-flex shadow-none">
                        <img src="img/icons/icon-save.svg" alt="*">
                    </button>
                </div>
            </div>
            <div class="stats-container">
            </div>
        </div>
        
        <div class="bg">
            <div class="d-flex align-items-center">
                <p class="title">Права доступа. Задачи</p>
                <div class="btn-group">
                    <button class="btn p-0 ms-2 d-flex shadow-none">
                        <img src="img/icons/icon-save.svg" alt="*">
                    </button>
                </div>
            </div>
            <div class="stats-container">
            </div>
        </div>
    </div>
</div>